<h1>Call For Speakers</h1>

<p>
The Call For Speakers for TCCC18 is now open. Here are the details:
</p>

<ul>
    <li>We’ll take as many ideas as we get until March 15th. After that, we’ll select the sessions (hopefully we’ll have enough!). We'll have 7 rooms available so that means we need 35 sessions. We realize with those who would have to travel that this may be too short of notice, so we’ll try to give those out-of-towners enough notice if their session is in.</li>
    <li>Send a title, abstract and bio to tccodecamp@gmail.com. We need all of this with the submission you provide.</li>
    <li>The length of a session is 60 minutes.</li>
</ul>

<p>
If you have any questions, please let <a href="mailto:tccodecamp@gmail.com">us</a> know. Also, please spread the word to other individuals that you think may be interested in speaking at this event.
</p>
