<h1>Fall 2010 - Speakers</h1>
<a name="sp1"></a>
<h2>
    Robert Boedigheimer
</h2>
<p>
    Robert Boedigheimer works for Schwans Shared Services, LLC providing business solutions
    with web technologies and leads Robert Boedigheimer Consulting, LLC. Robert has
    been designing and developing web sites for the past 15 years including the early
    days of ASP and ASP.NET. He is a columnist for aspalliance.com, an ASP.NET MVP,
    an author, an "Early Achiever" MCSD for .NET with C#, an MCPD: Web with C#, MCPD:
    ASP.NET 3.5, and a 2nd degree black belt in Tae Kwon Do. Robert has spoken at industry
    conferences including the Heartland Developers Conference, DevLink, DevTeach, Tulsa
    Tech Fest, DevWeek, TechEd, AJAXWorld, and numerous national and international events.
</p>
<a name="sp2"></a>
<h2>
    Aaron Erickson
</h2>
<p>
    Aaron Erickson is a software developer/technology writer/agilist for ThoughtWorks,
    based out of Chicago, IL. His life's work is to help convert the human intellectual
    capital into results for companies that empower both the knowledge workers who produce
    software, and the people for whom that software is designed to serve. He frequently
    speaks at events such as DevTeach, TechEd, and .NET user groups - with a goal of
    furthering the exchange of ideas - be they technology contributions - or observations
    about the technology consulting business. He is the author of the book, "The Nomadic
    Developer", a career guide for technology consultants. He is a co-author of the
    upcoming "Professional F# 2.0". In his spare time he likes to buy random ingredients
    at the store and have "iron chef" night with his wife, play video games with his
    kids, and occasionally, log on to World of Warcraft where he has a level 80 Rogue
    named EffSharper on the Bloodscalp server.
</p>
<a name="sp4"></a>
<h2>
    Jason Bock
</h2>
<p>
    Jason Bock is a Principal Consultant for Magenic (<a href="http://www.magenic.com"
                                                         target="_blank">http://www.magenic.com</a>), a Microsoft MVP (C#), and an INETA
    (<a href="http://www.ineta.org" target="_blank">http://www.ineta.org</a>) speaker.
    He has worked on a number of business applications using a diverse set of substrates
    and languages such as C#, .NET, and Java. He is the author of "Applied .NET Attributes",
    "CIL Programming: Under the Hood of .NET", ".NET Security", and "Visual Basic 6
    Win32 API Tutorial". He has written numerous articles on software development issues
    and has presented at a number of conferences and user groups. He is a leader of
    the Twin Cities Code Camp (<a href="http://www.twincitiescodecamp.com" target="_blank">http://www.twincitiescodecamp.com</a>)
    and runs the Twin Cities Languages User Group (<a href="http://www.twincitieslanguagesusergroup.com"
                                                      target="_blank">http://www.twincitieslanguagesusergroup.com</a>). Jason holds
    a Master's degree in Electrical Engineering from Marquette University. Visit his
    web site at <a href="http://www.jasonbock.net" target="_blank">http://www.jasonbock.net</a>.
</p>
<a name="sp5"></a>
<h2>
    Brian Hogan
</h2>
<p>
    Brian Hogan has been developing web sites professionally since 1995 as a freelancer
    and consultant. He's built small and large web sites and web applications using
    ASP, PHP, and Ruby on Rails. He enjoys teaching and writing about technology, particularly
    web design and development. He is the author of "HTML5 and CSS3" and "Web Design
    for Developers", both for the Pragmatic Bookshelf.
</p>
<a name="sp6"></a>
<h2>
    Jeff Klawiter
</h2>
<p>
    Jeff Klawiter is a Senior .NET Developer at The Nerdery Interactive Labs (aka Sierra
    Bravo Corp), currently holds a MCTS and MCPD certifications and is a Blend Insider.
    He has been a full time programmer for over a decade with the past 6 years dedicated
    to .NET. Keep up with him on his blog at <a href="http://blog.j-maxx.net" target="_blank">
        http://blog.j-maxx.net
    </a>.
</p>
<a name="sp7"></a>
<h2>
    Aaron Godin
</h2>
<p>
    Aaron Godin is a web developer attending university in Eau Claire, WI. He is excited
    about developing sophisticated web applications using Rails and agile methods. Aaron
    also enjoys working with Javascript and HTML/CSS to build interactive and enriching
    experiences. In his free time, he trains in the Korean art Tae Soo Do and plays
    Jazz on a variety of instruments.
</p>
<a name="sp10"></a>
<h2>
    Larry Louisiana
</h2>
<p>
    Larry Louisiana has worked in academic research for 9 years, and after getting bored
    with photo-physical chemistry, has been developing in C and C#. He is an author
    on a pending software process patent, and has been spending his free time playing
    with XNA.
</p>
<a name="sp11"></a>
<h2>
    J Wynia
</h2>
<p>
    J Wynia is an independent software consultant, writer and geek with 10+ years in
    the IT and software development game. Like you, he's been using relational databases
    for pretty much all of that time, but is finding some of the NoSQL options pretty
    compelling lately.
</p>
<a name="sp13"></a>
<h2>
    Mike Hodnick
</h2>
<p>
    Mike Hodnick works as a Lead Consultant for Inetium in Bloomington, MN and has been
    developing software on the Microsoft stack in the Twin Cities area for 12 years.
    In his spare time you can find him writing and recording music, playing drums, camping,
    cheering for the Minnesota Wild, and performing highly controversial experiments
    with ASP.NET MVC, Silverlight, and jQuery.
</p>
<a name="sp14"></a>
<h2>
    Ethan Gunderson
</h2>
<p>
    <a href="http://ethangunderson.com" target="_blank">Ethan Gunderson</a> is a developer
    based out of Chicago, IL, where he works at <a href="http://obtiva.com" target="_blank">
        Obtiva
    </a>, helping clients deliver quality software. He's the co-founder of
    the Eau Claire Ruby User Group and the Chicago Database User Group.
</p>
<a name="sp15"></a>
<h2>
    Adam Grocholski
</h2>
<p>
    Adam Grocholski is a Technical Evangelist at RBA Consulting. Lately he has been
    diving into the Windows Azure Platform and the latest UI technologies such as Windows
    Phone 7 and Silverlight as well as some more obscure areas of the .NET Framework
    (i.e. T4 and MEF). Recently, Adam was named as a Microsoft MVP for his commitment
    to the Microsoft application development community. From founding and presenting
    at the Twin Cities Cloud Computing user group to speaking at the local .NET and
    Silverlight user groups along with code camps and local, regional, and national
    conferences, Adam is committed to building a great community of well-educated Microsoft
    developers. When not working he enjoys spending time with his three awesome daughters
    and amazing wife. You can catch up with his latest projects and thoughts on technology
    at <a href="http://thinkfirstcodelater.com" target="_blank">http://thinkfirstcodelater.com</a>,
    or if that's too verbose for your liking you can always follow him on twitter at
    <a href="http://twitter.com/agrocholski" target="_blank">http://twitter.com/agrocholski</a>.
</p>
<a name="sp16"></a>
<h2>
    Kenny Goers
</h2>
<p>
    Kenny Goers has been developing software since 1990 when ties were still required!
    He has grokked mobile in all versions Windows, iPhone and Android since 1998 with
    Windows CE. He also attempts to play hockey with those much younger than him including
    his 19 year old son.
</p>
<a name="sp17"></a>
<h2>
    Ryan Briones
</h2>
<p>
    Ryan Briones is a practicing software craftsman currently living and working in
    Chicago, IL. In nearly a decade Ryan has designed systems for ISPs, non-profit corporations
    and web startups. For the last 4 years Ryan has had the pleasure of using Ruby almost
    exclusively and gives back to the Ruby ecosystem whenever possible. Ryan works as
    a Consultant at Obtiva, a life-long learner and is on his way to becoming a full-blown
    coffee snob.
</p>
<a name="sp18"></a>
<h2>
    Dan Nordquist
</h2>
<p>
    Dan Nordquist is a .NET developer with Popular Front, an interactive marketing agency
    in Northeast Minneapolis. Dan has been working both alone and on teams for over
    ten years. During this time, he's helped introduce smarter development practices
    to a variety of companies.
</p>
<a name="sp19"></a>
<h2>
    Keith Dahlby
</h2>
<p>
    Keith Dahlby is a .NET developer, language geek and C# MVP from Cedar Rapids, IA.
    He works as a software guru at J&amp;P Cycles and blogs about various software development
    topics at Los Techies. Keith has spoken at community events around the midwest and
    studied Human-Computer Interaction at Iowa State University. His talks have been
    described as "terrific!", "very interactive!", and "the best I've seen all hour!"
</p>
<a name="sp20"></a>
<h2>
    Scott Davis
</h2>
<p>
    Scott Davis is a seasoned consultant with a decade of consulting experience on both
    the Microsoft and Java platforms, involving mostly Web application development.
    Recent work for Scott has primarily revolved around Microsoft Silverlight, starting
    with the 1.1 Alpha release. Scott has experience in web, desktop, mobility, reporting,
    and database design and development, as well as project & staff management. Scott
    is currently the owner and principal consultant for Ignition Point Solutions; he
    is the leader of the Twin Cities Silverlight User Group; he is the president of
    BizLounge, a local entrepreneur group; and he is a member of the adjunct faculty
    in the information technology management master's degree program at St Mary's University
    in Minneapolis.
</p>
<a name="sp21"></a>
<h2>
    Jeff Brand
</h2>
<p>
    Jeff Brand is a .NET Developer in Microsoft's Developer and Platform Group. Jeff
    assists customers in evaluating, developing and deploying applications built on
    the .NET Framework and the Microsoft platform. He has been with Microsoft for eleven
    years and has served in variety of roles including infrastructure consultant, e-commerce
    technology specialist, and enterprise technology advisor.
</p>
<a name="sp22"></a>
<h2>
    Vince Bullinger
</h2>
<p>
    Vince Bullinger is a Senior Consultant with Solution Design Group and has an MCSD
    for .NET with C# who's been developing with Microsoft technologies for over five
    years. In his spare time, he likes to work on the house and yard, work out, play
    video games and learn everything there is to know about everything.
</p>
<a name="sp23"></a>
<h2>
    Donn Felker
</h2>
<p>
    Donn Felker is the founder of Agilevent a innovative creative development firm that
    specializes in web, mobile and agile technologies. He has over 10 years of professional
    experience in various markets that include – entertainment, health, retail, insurance,
    financial, and real estate. He is the author of Android Development for Dummies
    and the author of the TekPub.com Introduction to Android video series. He is also
    a Microsoft ASP Insider, an MCTS in Web Client Development for .NET 2.0 and 3.5
    and is also a certified ScrumMaster. He founded and coordinates the Twin Cities
    Give Camp and leads the Twin Cities Developers Guild. He writes, presents and consultants
    on various topics ranging from architecture, development, agile and patterns & practices.
    Follow Donn on twitter: @@donnfelker or read his blog here: <a href="http://blog.donnfelker.com"
                                                                  target="_blank">http://blog.donnfelker.com</a>.
</p>
<a name="sp24"></a>
<h2>
    Brent Edwards
</h2>
<p>
    Brent Edwards is a Senior Consultant for Magenic, a Microsoft Gold Partner consulting
    company. Brent has been knocking around the .NET world for over five years, working
    on projects ranging from ASP.NET MVC with C# and jQuery to WPF with VB.NET. In his
    spare time, Brent develops applications for the Android platform. His apps have
    over one million downloads and he was selected by Google as a Top Android Developer
    for their Device Seeding Program. When not cranking out code, you can find him hanging
    out with his wife and three kids or riding his wakeboard, snowboard or mountain
    bike.
</p>
<a name="sp25"></a>
<h2>
    Rockford Lhotka
</h2>
<p>
    Rockford Lhotka is the creator of the popular CSLA .NET development framework, and
    is the author of numerous books, including Expert 2008 Business Objects. He is a
    Microsoft Regional Director and MVP, and a regular presenter at major conferences
    around the world. Rockford is the Principal Technology Evangelist for Magenic (<a href="http://www.magenic.com" target="_blank">www.magenic.com</a>), a company
    focused on delivering business value through applied technology and one of the nation's
    premiere Microsoft Gold Certified Partners. For more information go to <a href="http://www.lhotka.net"
                                                                              target="_blank">www.lhotka.net</a>.
</p>
<a name="sp26"></a>
<h2>
    Jaim Zuber
</h2>
<p>
    Jaim Zuber is a Principle Consultant with Sharp Five Software. His experience runs
    from Embedded Linux to Win32, but recent times find him focusing on the .NET stack.
    When he's not coding he is often spending time with his wife, water skiing, biking
    around town or playing guitar and pedal steel at local watering holes.
</p>
<a name="sp27"></a>
<h2>
    Mike Benkovich
</h2>
<p>
    Mike Benkovich delivers technical presentations around the U.S. as a developer evangelist
    on the MSDN team at Microsoft. He has worked in a variety of professional roles,
    including architect, project manager, developer, and technical writer. Mike is also
    a published author of books from WROX Press and APress that show developers how
    to get the most from their SQL databases. Since appearing in the 1994 Microsoft
    DevCast, Mike has presented technical information at seminars, conferences, and
    corporate boardrooms across America.
</p>
<a name="sp28"></a>
<h2>
    Tim Star
</h2>
<p>
    Tim Star is a Senior Consultant / .Net Architect with Intertech. Tim has over 15
    years experience architecting and implementing highly-scalable distributed n-tiered
    windows applications . Tim is a Visual Studio ALM ranger, Visual Studio MVP, MCPD
    –Enterprise Application Development, MCTS in WPF and a Microsoft Certified trainer.
    Tim is a frequent attendee and speaker at the local Visual Studio users group (<a href="http://vstsmn.com/index.html" target="_blank">http://vstsmn.com/index.html</a>)
    and the national Windows Azure virtual users group (<a href="http://www.azureug.net/"
                                                           target="_blank">http://www.azureug.net/</a>).
</p>
<a name="sp30"></a>
<h2>
    Chris Black
</h2>
<p>
    Chris Black is a developer located in Minneapolis, Minnesota who focuses on ActionScript
    development with Adobe Flex and AIR. Chris has a strong interest in building AIR
    applications for Android mobile devices. He covers these topics as well as sharing
    solutions to the problems he encounters when working with Flex and AIR on his blog,
    blackcj.com. Chris has spoken at many interactive conferences including Flashbelt,
    Flash on the Beach and MN.swf Camp. He is currently writing a book about ActionScript
    that will be released later this year.
</p>
<a name="sp31"></a>
<h2>
    Stu King
</h2>
<p>
    Stu King is a User Experience Designer with Magenic Studios in Minneapolis, MN.
    With more than 17 years of industry experience, he is an accomplished web designer
    and SharePoint (MCTS) branding expert and has led design engagements for Fortune
    500 companies. As a member of the Magenic Studios User Experience Design team, he
    has developed social media strategies, branded SharePoint, designed web sites and
    created RIA applications utilizing Silverlight. Stu is the co-founder and President
    of Kikboxes Computer Craft where he hand builds one of a kind, high-end custom computers
    and manufactures his own line of parts for liquid cooled PC's. When he's not working,
    Stu likes to play disk golf and Xbox.
</p>
<a name="sp33"></a>
<h2>
    Ananth Balasubramaniam
</h2>
<p>
    Ananth is a software developer who has spent more than 8 years in the software industry
    and almost his entire childhood enjoying programming. He loves graphics and GPUs
    and was doing GPGPU way before it was mainstream. Lately, his focus has shifted
    from graphics to .NET tools/paradigms for parallel/multi-core development and high-performance
    coding with .NET. He believes managed code is here to stay and despite the C++ naysayers;
    that .NET code can be performant, predictable and scalable.
</p>
<a name="sp34"></a>
<h2>
    Brent Stineman
</h2>
<p>
    Brent is a Manager and National Solution Lead for Microsoft Cloud Services with
    Sogeti USA. His 18+ year IT career has spanned platforms from the mainframe to mobile
    devices. However, he's spent the bulk of the last 10 years working on interface
    applications and distributed system development. Brent started working with the
    Windows Azure platform early in its CTP phase and is now focused on helping colleagues
    and clients explore the promise of cloud computing.
</p>
<a name="sp35"></a>
<h2>
    Scott Koland
</h2>
<p>
    Scott Koland is a Senior Consultant at Magenic. He primarily works as an Application
    Developer on WPF and Silverlight .NET Applications in C#. Scott has a passion for
    empowering individuals and self-directing software development teams, for which
    the Agile and Scrum methods are a natural fit. Scott has a Master's of Software
    Systems degree from the University of St. Thomas, and his certifications include
    MCP, Certified ScrumMaster, Professional ScrumMaster, Professional Scrum Developer
    and Professional Scrum Developer Trainer.
</p>
<a name="sp36"></a>
<h2>
    Robert Altman
</h2>
<p>
    Robert Altman is an independent software developer and consultant. He has over 15
    years of development experience and holds a number of Microsoft certifications,
    including MCP, MCAD, MCSD, and MCSD for .NET (C#). Robert currently develops for
    multiple systems, including Windows, .NET, Windows Mobile, and iOS (iPhone / iPad),
    and is looking forward to finding time to including Android and Windows 7 Phone
    in the previous list. Robert is a technology enthusiast and enjoys working with
    diverse platforms and learning new systems; he is passionate about using technology
    to make working easier and using new ideas to solve problems. In his spare time,
    Robert enjoys spending time with his family, reading science fiction, and keeping
    current in the latest cosmology news.
</p>
<a name="sp37"></a>
<h2>
    Andy Pickett
</h2>
<p>
    Codename: Snow Shadow - QONQR Co-Founder & Stealth Arctic Samurai. Andy is a gamer
    at heart. He bought his first Apple ][e at 14 and taught himself BASIC by hand coding
    game programs out of PC magazines, and was on his server's first Onyxia kill (non-WoW
    nerds please move along). Professionally Andy has been a Software Developer, predominantly
    in the Microsoft space, for over 10 years. He has lead a variety of successful development
    teams at major Retail, Financial, and State Government clients. Andy is an avid
    Community Organizer and has a drive to help developers to master their craft. He
    Co-Leads the Twin Cities .Net User Group and helps run local conferences like the
    Minnesota Developer's Conference and Twin Cities Code Camp. @@apickett @@qonqr
</p>
<a name="sp38"></a>
<h2>
    Jon Stonecash
</h2>
<p>
    Jon Stonecash is a senior consultant at Magenic, a Microsoft Gold Partner consulting
    company. Jon Stonecash has worked in software development for much longer than he
    would like to admit. In that time Jon has had the opportunity to make most of the
    serious software development mistakes at least once. He has programmed in over a
    dozen languages including several different assembly languages, Fortran, COBOL,
    SNOBOL, classic Visual Basic, VB.NET, and C#. He has survived the structured programming
    revolution and the object-oriented revolutions (having inexplicably missed out on
    the sexual revolution). Jon's software development activities have included the
    development of operating systems, scientific and engineering applications, and enterprise
    systems. He has worked in every phase of software development from the initial specification
    of requirements through to customer support. Along the way, he picked up a BS in
    Mathematics and an MBA. He still has hopes of finding something that he can be reasonably
    good at. His long term interests center about databases and the aspects of the application
    that handle data access and business logic. He is also interested in the tools and
    processes that assist the development process. Jon can be reached at <a href="mailto:jons@magenic.com"
                                                                            target="_blank">jons@magenic.com</a>. Jon also has an active blog on "Designing
    Out Loud in the .NET Space" at <a href="http://blog.magenic.com/blogs/jons/default.aspx"
                                      target="_blank">http://blog.magenic.com/blogs/jons/default.aspx</a>.
</p>
<a name="sp39"></a>
<h2>
    Nazmul Siddiqui
</h2>
<p>
    Nazmul is a seasoned consultant with over 15 years of software development experience
    primarily on Microsoft platform. He began his career writing client applications
    and switched between client and web application development. His interests lie in
    object and relational modeling as well as developing design patterns and raising
    code security, performance, maintainability, and scalability. He's currently the
    CEO of Naz-Tek, and regularly <a href="http://naz-tek.spaces.live.com/blog/" target="_blank">
        blogs
    </a> on technology matters and runs the local <a href="http://www.linkedin.com/groups?gid=2349756&trk=hb_side_g"
                                                     target="_blank">WCF user group</a>, hosting monthly (1st Wednesday of the
    month at noon) knowledge share meetings at Bloomington Microsoft. His main focus
    is to bring efficiency and quantative measures into the software development industry
    and reorient the general concept of information technology as an investment center
    rather than a cost center.
</p>
<a name="sp40"></a>
<h2>
    Mark Vaillancourt
</h2>
<p>
    Mark Vaillancourt is an Information Management consultant with Digineer, a Microsoft
    Gold Partner based in Plymouth, MN. He has been working with Microsoft SQL Server
    for about 3 years. In addition to helping clients manage their SQL Server databases,
    he enjoys presenting, blogging (<a href="http://www.markvsql.com" target="_blank">www.markvsql.com</a>),
    and tweeting (<a href="http://www.twitter.com/markvsql" target="_blank">www.twitter.com/markvsql</a>)
    about SQL Server. With a background in theater and improvised comedy, Mark tries
    to make sure his presentations are not only informative, but fun as well.
</p>
<a name="sp41"></a>
<h2>
    Jeff Ferguson
</h2>
<p>
    Jeff Ferguson is a Principal Consultant with Magenic. He has been with Magenic since
    1996 and has worked in the software development community since 1989. Jeff has developed
    code for the Microsoft technology stack during all of that time and has been involved
    in a variety of both desktop and Web-based projects using C, C++, C# and Visual
    Basic. Visit his blog at <a href="http://www.geekswithblogs.net/JeffFerguson/" target="_blank">
        http://www.geekswithblogs.net/JeffFerguson/
    </a>.
</p>
<a name="sp42"></a>
<h2>
    Joe Mayo
</h2>
<p>
    Joe Mayo is an independent consultant, specializing in .NET application development.
    He has nearly 25 years of software development experience and has been working with
    .NET since July 2000, when it was first announced a pre-beta product. Joe is a published
    author of 6 books on .NET software development. His latest book is Microsoft Visual
    Studio 2010: A Beginner's Guide/McGraw-Hill. For his community contributions, Microsoft
    has awarded Joe with several Most Valuable Professional (MVP) awards.
</p>
