<h1>Fall 2013 - Speakers</h1>
<a name="sp1"></a>
<h2>
    Kristina Durivage
</h2>
<p>
    Kristina Durivage (<a href="http://www.twitter.com/gelicia" target="_blank">@@gelicia</a>)
    is a software engineer and data visualization hobbyist living in Minneapolis.
</p>
<a name="sp2"></a>
<h2>
    Nick Melnick
</h2>
<p>
    Nick Melnick is a Minneapolis-based, multi-language developer, architect, and technology
    generalist with over fifteen years of experience. He tends to evangelize the underdogs
    of technology, and is subject to technological whims and experimentation. He is
    currently a director of development for a local e-commerce company, and occasional
    contributor to various open source tools.
</p>
<a name="sp3"></a>
<h2>
    Robert Boedigheimer
</h2>
<p>
    Robert Boedigheimer works for Schwans Shared Services, LLC providing business solutions
    with web technologies and leads Robert Boedigheimer Consulting, LLC. Robert has
    been designing and developing web sites for the past 19 years including the early
    days of ASP and ASP.NET. He is a Pluralsight Author, an ASP.NET MVP, an author,
    and a 3rd degree black belt in Tae Kwon Do. Robert has spoken at industry conferences
    including VSLive, Heartland Developers Conference, DevLink, DevTeach, Tulsa Tech
    Fest, DevWeek, DevReach, SDC, TechEd, DevConnections, AJAXWorld, and numerous national
    and international events.
</p>
<a name="sp4"></a>
<h2>
    Justin Wendlandt
</h2>
<p>
    Justin Wendlandt is a Senior Consultant at Magenic technologies (<a href="http://www.magenic.com"
                                                                        target="_blank">www.magenic.com</a>). He is an avid technologist who is passionate
    about computer science, security, usability and software patterns and practices.
    Professionally he focuses on using Microsoft technologies to solve business and
    enterprise problems. You can find out more information about him at <a href="http://www.jwendl.net/"
                                                                           target="_blank">http://www.jwendl.net/</a> or you can follow him on twitter
    <a href="http://www.twitter.com/jwendl" target="_blank">@@jwendl</a>.
</p>
<a name="sp5"></a>
<h2>
    Erik Onarheim
</h2>
<p>
    Erik Onarheim is an Application Developer working for General Mills who loves building
    cutting edge JavaScript applications. In his spare time he likes to play and develop
    games, draw comics, study guitar, and drink cheap wine. You can find him on twitter
    <a href="http://www.twitter.com/ErikOnarheim" target="_blank">@@ErikOnarheim</a>
    or on his blog, <a href="http://erikonarheim.com" target="_blank">http://erikonarheim.com</a>.
</p>
<a name="sp6"></a>
<h2>
    Todd H. Gardner
</h2>
<p>
    I am a co-founder of {Track:js} and a JavaScript consultant in Minneapolis. I have
    lead several large single-page application projects, and have been able to distill
    some general tenants about them and their construction. <a href="mailto:todd@trackjs.com">
        todd@trackjs.com
    </a> <a href="http://twitter.com/toddhgardner" target="_blank">@@toddhgardner</a>.
</p>
<a name="sp7"></a>
<h2>
    Kevin Whinnery
</h2>
<p>
    Kevin Whinnery is a front-end hacker and developer evangelist for Twilio. Kevin
    has been researching and using JavaScript on mobile for several years, including
    a four year stint at Appcelerator prior to joining Twilio. Kevin is also the author
    and maintainer of Twilio's official node.js helper library. Kevin lives in Saint
    Paul, Minnesota with his beautiful wife and three devious children.
</p>
<a name="sp8"></a>
<h2>
    Wolf Loescher
</h2>
<p>
    Wolf Loescher (<a href="http://www.twitter.com/wloescher" target="_blank">@@wloescher</a>)
    is a coder, designer, drummer, singer, and record producer (although not usually
    all at the same time). He exercises the right side of his brain at DreamPlanGo (<a href="http://dreamplango.com" target="_blank">dreamplango.com</a>) creating
    content marketing magic for the web and mobile platforms. Meanwhile, he scratches
    his musical itches with local celti-cajun folk pop band the Sweet Colleens (<a href="http://sweetcolleens.com"
                                                                                   target="_blank">sweetcolleens.com</a>).
</p>
<a name="sp9"></a>
<h2>
    Kamran Ayub
</h2>
<p>
    Kamran Ayub is a Senior Application Developer working at General Mills who is passionate
    about technology and sharing his experiences with others. On the side, he works
    on several personal projects, has contributed to multiple open source libraries,
    and attempts to balance his development and gaming hobbies, often unsuccessfully.
    He's frighteningly easy to find, but you can follow him <a href="http://www.twitter.com/kamranayub"
                                                               target="_blank">@@kamranayub</a> or on his blog, <a href="http://kamranicus.com" target="_blank">
        http://kamranicus.com
    </a>.
</p>
<a name="sp10"></a>
<h2>
    Vince Bullinger
</h2>
<p>
    Vince Bullinger has been a passionate .Net developer and consultant since 2005.
    He has an MCSD for .NET with C#. In his spare time, he likes to do home projects,
    work out, play video games and learn everything there is to know about everything.
</p>
<a name="sp11"></a>
<h2>
    Ken Sykora
</h2>
<p>
    Ken is a .NET developer with intimate knowledge with numerous .NET Content Management
    Systems, including Ektron, Sitecore, Umbraco, and Sharepoint. As an avid geek and
    tech hobbyist, he has always been driven to finding awesome ways to integrate music
    with technology
</p>
<a name="sp12"></a>
<h2>
    Ed Jones
</h2>
<p>
    Ed Jones is a consultant specializing in Connected Systems and .NET development
    for RBA. With over 15 years of IT experience, Ed has helped both large and small
    clients in a variety of industries including banking, healthcare, transportation,
    manufacturing, and retail. He has served as architect, developer, mentor, and trainer
    and occasionally throws on the DBA and infrastructure hats as well. You can read
    about Ed's technical thoughts and experiences as well as pick up a tip or two on
    his blog, Extremely Talented Monkeys (<a href="http://talentedmonkeys.wordpress.com"
                                             target="_blank">http://talentedmonkeys.wordpress.com</a>).
</p>
<a name="sp13"></a>
<h2>
    Kevin Hakanson
</h2>
<p>
    Kevin Hakanson is an application architect for Thomson Reuters where he is focused
    on highly scalable web applications, especially the JavaScript and security aspects.
    His background includes both .NET and Java, but he is most nostalgic about Lotus
    Notes. He has been developing professionally since 1994 and holds a Master’s degree
    in Software Engineering. When not staring at a computer screen, he is probably staring
    at another screen, either watching TV or playing video games with his family.
</p>
<a name="sp14"></a>
<h2>
    James Greene
</h2>
<p>
    James Greene is a Lead Software Engineer for Thomson Reuters where he is focused
    on highly scalable web applications. His recent technical foci include JavaScript
    (including Node.js, PhantomJS, RequireJS, and more), HTML5, and REST-ful JSON-based
    services in ASP.NET MVC. He is co-organizer of the Twin Cities JavaScript user group
    JavaScriptMN. He also moonlights as an official jQuery team member, a core collaborator
    for the popular JavaScript-related projects PhantomJS, QUnit, and ZeroClipboard,
    and an open source zealot in general. On the off occasion that he is not staring
    at a computer or smartphone screen (a rarity indeed), you will find him spending
    time with his family, playing board games, traveling abroad, hiking, or scuba diving.
    For more info, check out: <a href="http://jamesgreene.net/" target="_blank">http://jamesgreene.net/</a>.
</p>
<a name="sp15"></a>
<h2>
    Lyle Luppes
</h2>
<p>
    Lyle Luppes has been developing applications for over 25 years now, starting on
    mainframes and AS/400’s, then moving to client-server and Windows applications,
    and then on to web development. After working at very large companies and very small
    consulting firms, he started his own business in 2000, doing just about everything
    from building servers to wiring networks to being the Database Administrator. He
    enjoys doing a wide variety of tasks, but likes pure creative development the best.
    Lyle has taught a college level class and mentored many developers along the way,
    and now that his kids are grown and out of the house, he’s looking for new opportunities
    to share what he has learned. Last year, he wrote the book "Delivering Mobile-Friendly
    Websites with MVC4" (which cracked the top 10 in its category on Amazon briefly),
    and he is currently working on an MVC5 book.
</p>
<a name="sp16"></a>
<h2>
    Joel Kauffman
</h2>
<p>
    Joel Kauffman is the development manager for Vistacomm, a web development company,
    in Sioux Falls, SD. Joel has spoken previously at various conferences in the region,
    and enjoys meeting and talking with people who share his passion for technology.
    When he isn’t speaking or building software, Joel spends time with his wife and
    4 kids.
</p>
<a name="sp17"></a>
<h2>
    Brian Hogan
</h2>
<p>
    Brian Hogan is a developer, teacher, and author who loves building things on the
    web. When not hacking on code, he's making music and playing violent video games,
    or spending quality time with family.
</p>
<a name="sp18"></a>
<h2>
    Erik Rantapaa
</h2>
<p>
    Erik Rantapaa works for Digital River's MyCommerce division and wishes he could
    use a strongly-typed purely functional language in his day job.
</p>
<a name="sp19"></a>
<h2>
    Brent Edwards
</h2>
<p>
    Brent Edwards is an Principal Lead Consultant for <a href="http://magenic.com/" target="_blank">
        Magenic
    </a> and a co-founder of the <a href="http://windows8ug.com/" target="_blank">
        Twin Cities Windows 8 User Group
    </a>. He is an accomplished software developer,
    architect, mentor, and speaker with over 9 years of experience developing innovative
    solutions with Microsoft technologies. Brent has worked on projects with ASP.NET
    MVC and jQuery, WPF, Silverlight, and Windows 8. He is also the author of Charmed
    (<a href="https://github.com/brentedwards/Charmed" target="_blank">https://github.com/brentedwards/Charmed</a>),
    an open source, cross-platform MVVM support library for Windows 8 and Windows Phone
    8. In addition to working with Microsoft technologies, Brent is also an accomplished
    Android developer whose apps have more than two million downloads. When not cranking
    out code, you can find him hanging out with his wife and four kids or riding his
    wakeboard, snowboard or mountain bike. Check out his blog at <a href="http://brentedwards.net/"
                                                                    target="_blank">http://brentedwards.net/</a> and follow him on twitter <a href="https://twitter.com/brentledwards"
                                                                                                                                              target="_blank">@@brentledwards</a>.
</p>
<a name="sp20"></a>
<h2>
    David Washington
</h2>
<p>
    David Washington is a Microsoft Technical Evangelist based in Minneapolis, MN. He
    works with students, startups and independent app developers in the Twin Cities
    and surrounding area who are interested or need help with Windows 8, Windows Phone
    and Windows Azure. For the past eight years he worked on User Experience in Windows.
    Most recently he worked as a Senior Program Manager Lead on Windows 8.1, leading
    a team of people designing the text suggestions UX and platform for the touch keyboard.
    Before that, he drove the end-to-end experience for how Windows 8 scales and adapts
    responsively across all screens sizes, from tablet to laptop to desktop, portrait
    and landscape and high pixel density screens.
</p>
<a name="sp21"></a>
<h2>
    Jim Wooley
</h2>
<p>
    By day, Jim Wooley is a consultant for Slalom Consulting, In his free time, Jim
    is a frequent speaker, INETA Regional Speaker, MVP, and author of "LINQ in Action".
    He is always striving to stay at the forefront of technology and enjoys the thrill
    of a new challenge. He has been active evangelizing LINQ since it's announcement
    in 2005. In addition, he attempts to pass on the insights he has gained by being
    active in the community, including organizing and speaking at code camps and regional
    events, including DevLink, DevWeek, CodeMash, CodeStock, VS Live, and MIX.
</p>
<a name="sp22"></a>
<h2>
    Adam Barney
</h2>
<p>
    Adam is a Microsoft C# MVP and co-leader of the Lincoln .NET Users Group and Nebraska
    Code Camp. Having a deep passion for solving problems, he has turned to writing
    code as an outlet for that passion. Starting in the 4th grade on a Commodore64,
    he has continually pushed himself to learn more about the construction of software
    – and he loves sharing that knowledge and passion with others. It’s a fantastic
    time to be a developer – and Adam is loving every minute of it. When not speaking
    at conferences, or hanging out with his wife and 2 kids, he runs his own independent
    consulting company – Barney Consulting (<a href="www.barneyconsulting.net" target="_blank">www.barneyconsulting.net</a>).
</p>
<a name="sp23"></a>
<h2>
    Brette Esterbrooks
</h2>
<p>
    Brette Esterbrooks is a software developer with 10 years of experience in both Web
    Application and Rich Client development. As an independent contractor in the Twins
    Cities area Brette has worked with many large and medium sized companies as well
    as several non-profit organizations. Most recently his work has been focused on
    WPF and MVC application development. His other interests include Cloud Computing,
    Software Usability, and exploring various Frameworks. Brette is a large proponent
    of the ‘Keep It Simple Stupid’ principle and believes strongly that frameworks should
    be developed overtime organically to continually reduce the friction they create.
    When not working Brette enjoys the study of economics, spending time on his Motorcycle,
    walking his dogs, and traveling with his wife.
</p>
<a name="sp24"></a>
<h2>
    David Boike
</h2>
<p>
    David Boike is a Principal Consultant with ILM Professional Services with more than
    a decade of development experience in multiple industries. He is an NServiceBus
    Champion and the author of Learning NServiceBus, the only book available covering
    the industry-leading .NET Enterprise Service Bus. He is also a husband, father,
    and brewer of craft beer. David blogs at <a href="http://www.make-awesome.com" target="_blank">
        www.make-awesome.com
    </a> and tweets at <a href="http://twitter.com/DavidBoike" target="_blank">
        @@DavidBoike
    </a>.
</p>
<a name="sp25"></a>
<h2>
    Stephen Erstad
</h2>
<p>
    I am a 2009 graduate from the University of Minnesota CSE. I work for General Mills
    as a software developer focused on building hybrid mobile applications. Recently
    I have been focusing on building an enterprise offline web application that utilizes
    many pieces of HTML5 such as the application cache (with a dynamically generated
    manifest), DOM local storage, and file system API to deliver content to our customers
    on multiple platforms. Outside of coming up with reasons not to build native clients,
    I am into literature, video games, philosophy, and anime.
</p>
<p>
    You can reach me through the following tubes; <a href="https://github.com/StephenErstad"
                                                     target="_blank">GitHub</a>, <a href="https://twitter.com/StephenErstad" target="_blank">
        Twitter
    </a>, and <a href="https://coderbits.com/StephenErstad" target="_blank">CoderBits</a>.
</p>
<a name="sp26"></a>
<h2>
    Mike Weber
</h2>
<p>
    Mike Weber is a Ruby on Rails contractor from Minneapolis. He has 8 years of web
    development experience with both front-end and back-end technologies. When not writings
    tests, you'll likely find him golfing, running around Lake Harriet or enjoying a
    microbrew while talking about outer space.
</p>
<a name="sp27"></a>
<h2>
    Md Khan
</h2>
<p>
    As a web developer focusing on the front end, Md Khan is addicted to JavaScript.
    MD spends most of his time to write “hello world” when someone tweets a new JavaScript
    library. But he doesn’t stop there rather kills his weekends to convert “hello world
    ” to glorious “Todo app” so that he can update his linkedin profile with new frameworks
    and libraries. If you are still interested to read a job title (you might be an
    auto insurance agent), MD is a senior web developer at Nielsen, Chicago, IL.
</p>
<a name="sp28"></a>
<h2>
    Peter J. Farrell
</h2>
<p>
    Hailing from the frigid tundra of Minnesota, Peter J. Farrell has a Bachelor of
    Music degree from the Johns Hopkins University in Baltimore, Maryland. While studying
    music, Peter took his life-long interest with computers and started to learn about
    programming. He has been working with various technologies since 2001 and currently
    specializes in web development with Python and Django.
</p>
<p>
    He currently is a Principal Technologist for <a href="http://www.greatbiztools.com/"
                                                    target="_blank">GreatBizTools</a>, a firm that offers online skill and personality
    testing for employers. Peter lives in Minneapolis with his wife, Ally and their
    two dogs.
</p>
<a name="sp29"></a>
<h2>
    Keith Dahlby
</h2>
<p>
    Keith Dahlby is a new father, web developer, Git enthusiast, language geek and three-time
    C# MVP from Cedar Rapids, IA. By day he sells motorcycle parts at J&P Cycles; by
    night he sometimes blogs with Los Techies. His open source efforts include posh-git,
    a Git environment for PowerShell; and FSRazor, F# support for the Razor view engine.
    Keith has spoken at community events around the Midwest and studied Human-Computer
    Interaction at Iowa State University. His talks have been described as “terrific!”,
    “very interactive!”, and “the best I’ve seen all hour!”.
</p>
<a name="sp30"></a>
<h2>
    Jenna Pederson
</h2>
<p>
    Jenna Pederson is an independent software developer. She has worn a variety of hats
    in the development of building desktop software, web, and mobile applications. With
    experience from the front-end all the way down to the physical servers, from development
    to business analysis and testing, Jenna is a passionate developer who enjoys getting
    other engineers excited about the technology and how to solve business problems.
</p>
<a name="sp31"></a>
<h2>
    Judah Himango
</h2>
<p>
    Hi, I'm <a href="http://twitter.com/judahgabriel" target="_blank">Judah</a>. I'm
    a technologist and builder of things. I've been blogging for a decade and coding
    since my teens. I love technology! I run a startup around internet radio, I work
    for <a href="http://avtex.com/" target="_blank">Avtex</a> by day and <a href="http://ayende.com/"
                                                                            target="_blank">@@ayende</a> by night. Outside of work, I play music, help run
    a Messianic Jewish congregation, play sports, and enjoy life with my wife and 2
    kids. My talks? Live coding, zero bullet points, keeping the fun in coding. Enjoy!
</p>
<a name="sp32"></a>
<h2>
    Mike R. Emo
</h2>
<p>
    Mike R. Emo is the founder of iEmoSoft consulting and is a senior software engineer
    and architect with over 15 years of experience specializing in web application,
    fat client, database design / implementation, and distributed systems development.
    Mike recently worked with Sorin Medical Group to develope their version 1.0 remote
    monitoring system, allowing cardiac physicians to remotely monitor their patients.
    As an independent consultant, he enjoys the opportunity to connect with a wide range
    of personalities and cultures as well as emerging technologies. Most recently Mike
    worked with Make Music in Eden Prairie to help them with their rebranding and ecommerce
    initiatives.
</p>
<a name="sp33"></a>
<h2>
    Brandon H
</h2>
<p>
    I am a Sr. Software Engineer for the nation’s largest hearing aid manufacturer located
    here in the twin cities. I have worked in this job for 6 years, while also working
    on Windows Phone and Windows 8 applications as a hobby. I also worked for a mobile
    startup developing a cross-platform framework.
</p>
<a name="sp34"></a>
<h2>
    Jason Hsu
</h2>
<p>
    Jason Hsu is the founder and lead developer of two Rails sites, Doppler Value Investing
    (<a href="http://www.dopplervalueinvesting.com" target="_blank">http://www.dopplervalueinvesting.com</a>)
    and Bargain Stock Funds (<a href="http://www.bargainstockfunds.com" target="_blank">http://www.bargainstockfunds.com</a>).
    He has published the dvi_scrape and bsf_scrape gems that acquire and process the
    financial data needed for these sites. Although his formal background is in electrical
    engineering, he is currently seeking a position as a Ruby on Rails developer.
</p>
<a name="sp35"></a>
<h2>
    Allen Sanborn
</h2>
<p>
    ...forthcoming...
</p>
