<h1>Fall 2011 - Speakers</h1>
<a name="sp1"></a>
<h2>
    Ken Sykora
</h2>
<p>
    Ken is a .NET and Flash developer that has been doing web development since HTML
    1.0 when NCSA Mosaic was in its prime. He has intimate knowledge with numerous .NET
    Content Management Systems. As an avid geek and tech hobbyist, he has always been
    driven to finding awesome ways to integrate music with technology. Since starting
    at the Nerdery, Ken has seen almost 100 projects launch, most of which involving
    a content management system.
</p>
<a name="sp2"></a>
<h2>
    Brock Noland
</h2>
<p>
    Brock Noland is an Instructor at Cloudera where he teaches Apache Hadoop developer
    and admin courses to public and private audiences. He attended the University of
    Minnesota and is formerly a Lead Software Engineer at Thomson Reuters were he implemented
    log processing on Hadoop. He spends most of his time dealing with broken abstractions
    and other odd phenomena of large distributed systems. When not working, he likes
    to sail, scuba dive, and trek.
</p>
<a name="sp3"></a>
<h2>
    Jamie Miley
</h2>
<p>
    Jamie Miley is a .NET Developer and CRM Architect with Sogeti USA out of their Minneapolis
    branch office and has been working in the Microsoft development space for 7 years.
    He lives in Richfield, MN with his wife Kristina, daughters Adelyn (19 months old)
    and Elenora (4 months old), cats Tux and Java, and dog Samba. When he's not doing
    CRM or blogging (<a href="http://mileyja.blogspot.com" target="_blank">mileyja.blogspot.com</a>)
    he enjoys fiddling with Windows Phone 7 and hanging out with his friends and family.
</p>
<a name="sp4"></a>
<h2>
    Brian Gorman
</h2>
<p>
    Brian has 10 years of professional programming experience using .Net for various
    organizations including both large corporations and small startup-types of businesses,
    and is an accomplished adjunct professor of computer science. Currently, Brian is
    working remotely from home in Austin, MN for a software company from Illinios, while
    teaching an online session of algorithms and data structures for Franklin University
    from Columbus, OH. Brian has attained MCSD certification, and holds a bachelors
    degree in computer science from Iowa State University and a masters degree in computer
    information systems from the University of Phoenix.
</p>
<a name="sp5"></a>
<h2>
    Mike Hodnick
</h2>
<p>
    Mike Hodnick is a Technology Strategist at Avtex in Bloomington, MN and has over
    thirteen years of development experience on the Microsoft stack in the Twin Cities
    area. Mike enjoys going off the beaten path when tinkering with new technology and
    has most recently spent the last nine months researching motion, touch, and speech-based
    technologies. In his spare time Mike enjoys playing hockey, writing weird music,
    camping, fishing, and llama-watching.
</p>
<a name="sp7"></a>
<h2>
    Jason Bock
</h2>
<p>
    Jason Bock is a Principal Consultant for Magenic (<a href="http://www.magenic.com"
                                                         target="_blank">http://www.magenic.com</a>), a Microsoft MVP (C#), and an INETA
    (<a href="http://www.ineta.org" target="_blank">http://www.ineta.org</a>) speaker.
    He has worked on a number of business applications using a diverse set of substrates
    and languages such as C#, .NET, and Java. He is the author of "Applied .NET Attributes",
    "CIL Programming: Under the Hood of .NET", ".NET Security", and "Visual Basic 6
    Win32 API Tutorial". He has written numerous articles on software development issues
    and has presented at a number of conferences and user groups. He is a leader of
    the Twin Cities Code Camp (<a href="http://www.twincitiescodecamp.com" target="_blank">http://www.twincitiescodecamp.com</a>)
    and runs the Twin Cities Languages User Group (<a href="http://www.twincitieslanguagesusergroup.com"
                                                      target="_blank">http://www.twincitieslanguagesusergroup.com</a>). Jason holds
    a Master's degree in Electrical Engineering from Marquette University. Visit his
    web site at <a href="http://www.jasonbock.net" target="_blank">http://www.jasonbock.net</a>.
</p>
<a name="sp8"></a>
<h2>
    Jeff Brand
</h2>
<p>
    Jeff Brand is a .NET Developer in Microsoft's Developer and Platform Group. Focused
    on Microsoft client technologies, Jeff assists customers in evaluating, developing
    and deploying applications that target Windows 7, Silverlight, Windows Phone, and
    HTML5. He has been with Microsoft for fifteen years and has served in variety of
    roles including infrastructure consultant, e-commerce technology specialist, and
    enterprise technology advisor.
</p>
<a name="sp9"></a>
<h2>
    Scott K. Davis
</h2>
<p>
    Scott is a seasoned consultant with over a decade of consulting experience on both
    the Microsoft and Java platforms, involving mostly web application development.
    Scott began working with Silverlight in the 1.1 Alpha. Scott is currently the owner
    and principal consultant for Ignition Point Solutions and COO of QONQR, a mobile
    gaming company.
</p>
<a name="sp10"></a>
<h2>
    Larry Louisiana
</h2>
<p>
    Larry Louisiana has worked in academic research for 9 years, and after getting bored
    with photo-physical chemistry, has been developing in C and C#. He is an author
    on a pending software process patent, and has been spending his free time playing
    with XNA. Larry is passionate about efficient, concise and reusable code as well
    as threading and concurrent paradigms. Larry likes complicated problems.
</p>
<a name="sp11"></a>
<h2>
    Matt Christian
</h2>
<p>
    Matthew Christian is a programmer/analyst in mid-Wisconsin and has been developing
    software for 8+ years during which he's worked on general software and game development.
    Matt has a Bachelors Degree in Applied Mathematics and Computer Science: Software
    Development from the University of Wisconsin – Stout and an Associate's Degree in
    Computer Information Systems: Programmer/Analyst from Northcentral Technical College.
    He is an expert blogger on the gaming website <a href="http://Gamasutra.com" target="_blank">
        Gamasutra.com
    </a> and has been featured several weeks in the 'Best of Expert
    Blogs' column for articles related to both programming and design. Find out more
    about Matt at <a href="http://www.insidegamer.org/" target="_blank">http://www.insidegamer.org/</a>.
</p>
<a name="sp12"></a>
<h2>
    Brian Hogan
</h2>
<p>
    Brian P. Hogan is an author, editor, trainer, and web developer who's been building
    web sites professionally since 1995 as a freelancer and consultant. He enjoys teaching
    and writing about technology, particularly web design, accessibility, and development.
    When not hacking on Ruby or JavaScript code, he's writing songs, watching "The Simpsons,"
    or spending quality time with his wife and daughters.
</p>
<a name="sp13"></a>
<h2>
    Mike Weber
</h2>
<p>
    Mike Weber is a web developer living in Minneapolis, Minnesota. He's been developing
    professionally since 2005, almost exclusively with Ruby on Rails. When not counting
    whitespace he enjoys running, swimming and golfing as well as spending time with
    his wife and dog.
</p>
<a name="sp14"></a>
<h2>
    Chris Johnson
</h2>
<p>
    Chris Johnson is a web developer and technology consultant living outside of Madison,
    Wisconsin. He has been developing websites professionally since 2003 when he got
    his first paycheck as a freelancer. When he's not developing, he enjoys tinkering
    with technology and mechanical things, photography, video games, playing hockey
    and spending time with his wife and their two dogs.
</p>
<a name="sp15"></a>
<h2>
    Aaron Godin
</h2>
<p>
    Aaron Godin is a programmer and designer. If he's not deep in a Rails application
    or programming in Ruby, he spends his time working with all things front-end. Besides
    being a Macophile, his other interests include electronic music, martial arts, skateboarding,
    and making fun of iPad commercials.
</p>
<a name="sp16"></a>
<h2>
    Jeff Klawiter
</h2>
<p>
    Jeff Klawiter is currently a Senior .NET Developer at The Nerdery. There he works
    on a wide variety of .NET applications. From HTML 5 ASP.NET MVC websites, to interactive
    Touch Screen WPF apps with Kinect. In his spare time he maintains the Html Agility
    Pack open source project and works on various other applications. Visit his website
    at <a href="http://blog.j-maxx.net" target="_blank">http://blog.j-maxx.net</a>.
</p>
<a name="sp17"></a>
<h2>
    Avonelle Lovhaug
</h2>
<p>
    Avonelle Lovhaug escaped the corporate grind in 2003. Since then she's been running
    <a href="http://www.codepoetrysoftware.com/" target="_blank">Code Poetry</a>, her
    freelance programming venture serving tech savvy small businesses in the Twin Cities.
    Avonelle lives just outside St. Paul with her husband, and after raising two geek
    sons with careers in tech-related fields, she's done her part for future generations.
    She'd tell you how long she's been working with computers, but her age is classified.
    Avonelle writes about going freelance at <a href="http://www.IndyCoding.com" target="_blank">
        www.IndyCoding.com
    </a>.
</p>
<a name="sp18"></a>
<h2>
    Todd H. Gardner
</h2>
<p>
    Todd is a passionate builder of software in a variety of languages and platforms.
    He is an advocate for testable design, agile development, and lean products. Todd
    is the founder of WocketWare LLC, an agile software consulting firm.
</p>
<a name="sp19"></a>
<h2>
    Justin Chase
</h2>
<p>
    Justin Chase is a Software Developer for Microsoft. He works on Expression Blend
    in the St. Paul office. By night he satiates his love of programming languages by
    working on the open source project meta#. He also likes to play paintball, attend
    the Zombie Pub Crawl and enjoy excellent beers.
</p>
<a name="sp20"></a>
<h2>
    Kevin Hakanson
</h2>
<p>
    Kevin Hakanson is an application architect for Thomson Reuters where he is focused
    on highly, scalable web applications. His background includes both .NET and Java,
    but he is most nostalgic about Lotus Notes. He has been developing professionally
    since 1994 and holds a Master’s degree in Software Engineering. When not staring
    at a computer screen, he is probably staring at another screen, either watching
    TV or playing video games with his family.
</p>
<a name="sp21"></a>
<h2>
    Kevin Moot
</h2>
<p>
    Kevin Moot has been fortified with a healthy dose of javascript, having worked with
    HTML5 Canvas for several leading-edge websites. He has held an interest in computer
    graphics since creating games on his Apple IIe (with its vast array of 6 colors
    and mind-boggling 280×192 resolution), with more recent experience including low-level
    graphics APIs such as DirectX and OpenGL.
</p>
<a name="sp22"></a>
<h2>
    Brent Edwards
</h2>
<p>
    Brent Edwards is a Senior Consultant for Magenic, a Microsoft Gold Partner consulting
    company. Brent has been knocking around the .NET world for over seven years, working
    on projects ranging from ASP.NET MVC with C# and jQuery to WPF with VB.NET. He is
    also the author of MVVM Fabric (<a href="http://mvvmfabric.com/" target="_blank">http://mvvmfabric.com/</a>),
    a free MVVM framework for WPF. In his spare time, Brent develops applications for
    the Android platform. His apps have over one million downloads and he was selected
    by Google as a Top Android Developer for their Device Seeding Program. When not
    cranking out code, you can find him hanging out with his wife and four kids or riding
    his wakeboard, snowboard or mountain bike. Check out his blog at <a href="http://brentedwards.net"
                                                                        target="_blank">http://brentedwards.net</a>.
</p>
<a name="sp23"></a>
<h2>
    Jordan Terrell
</h2>
<p>
    Jordan Terrell is a software developer with 16 years of experience, with close to
    10 years of experience with .NET. He is currently employed at Thomson Reuters working
    on a financial data service platform. Jordan creates and contributes to open source
    projects, maintains a blog and is passionate about software development. Find more
    information about Jordan looking at his code (<a href="http://github.com/iSynaptic"
                                                     target="_blank">github.com/iSynaptic</a>), by visiting his wiki (<a href="http://wiki.jordanterrell.com"
                                                                                                                         target="_blank">wiki.jordanterrell.com</a>) or by following him on Twitter
    - @@jordanterrell.
</p>
<a name="sp24"></a>
<h2>
    Aaron Erickson
</h2>
<p>
    Aaron is a veteran technology consultant, writer, and developer at ThoughtWorks.
    He is the author of "The Nomadic Developer" and most recently a co-author of "Professional
    F# 2.0". His life's work is helping organizations better leverage technology by
    contributing to solutions that have substantial positive economic impact for his
    clients. He is an enthusiast of agile software development and continuous delivery.
    He is also an "armchair economist" with lots of unfounded opinions on the topic,
    a deeply mediocre skier, and has an XBOX 360 GamerScore well approaching 15,000.
</p>
<a name="sp25"></a>
<h2>
    Adam Grocholski
</h2>
<p>
    Adam Grocholski is a Technical Evangelist at RBA Consulting where he spends time
    focusing on the Windows Azure Platform as well as the latest UI technologies such
    as Windows Phone 7 and Silverlight. He also has a penchant for hanging around some
    of the darker corners of the .NET Framework (i.e. T4 and MEF). In 2010 he was named
    as a Microsoft MVP for his commitment to the Microsoft development community. From
    founding and presenting at the Twin Cities Cloud Computing user group to speaking
    at the local .NET and Silverlight user groups along with code camps and local, regional,
    and national conferences, he is committed to building a great community of well-educated
    Microsoft developers.
</p>
<a name="sp26"></a>
<h2>
    David Berry
</h2>
<p>
    David Berry is an IT Manager with Ameriprise Auto and HomeInsurance in De Pere,
    WI. Starting as aJava developer over 15 years ago, he has spent his last 9 years
    developingapplications in .NET. He has worked withboth SQL Server and Oracle relational
    databases with a special interest indatabase performance tuning. In his freetime
    he enjoys road cycling in the summer and cross country skiing in the winter.
</p>
<a name="sp27"></a>
<h2>
    Loren Halvorson
</h2>
<p>
    Loren is an independent software consultant. He has worked on large and small business
    systems in financial, healthcare, government, and retail organizations. Loren lives
    in Mankato with his wife and 3 children. He leads the Mankato .NET User Group, and
    enjoys playing acoustic guitar with two bands in his spare time.
</p>
<a name="sp28"></a>
<h2>
    Walker Wilkins
</h2>
<p>
    Walker Wilkins is an independent contractor currently working on ASP.NET and Ruby
    on Rails projects. Before coming to Minnesota, he rangled documentation at a small
    banking software company as a Technical Writier. While teaching himself to program
    he had plenty of help from a misplaced, forward-thinking programming manager and
    a number of books.
</p>
<a name="sp29"></a>
<h2>
    Judah Himango
</h2>
<p>
    Judah is a nerdly simpleton with Avtex, where he was recently promoted to Amplifier
    of the Shining Countenance of Hodnick's Bare Scalp. His business credentials include
    the ability to make a great plate of Chips 'N Cheese, and being impressively proficient
    at duct-taping his rear view mirror. He enjoys taking it easy. He will wear sandals
    for as long as the harsh Minnesota winters allow. He may have been Jack Johnson
    in a previous life. He thinks suspenders and bow ties are hilarious. His code is
    so hot, you'll need to wear sunglasses. He has a software idea that will change
    the internet and pay for his retirement, and when he says that, he's only half-joking.
    His wife loves him despite all this; he thinks that's totally hawt. He's got 2 great
    kids, enjoys playing guitar, is the author of the best Messianic Jewish radio on
    the web, and he gives a surprisingly decent foot massage.
</p>
<a name="sp30"></a>
<h2>
    Kenny Goers
</h2>
<p>
    Kenny is a Mobile Architect with the ITR Group working with mobile platforms since
    1998. He has worked with Windows CE, Windows Mobile, Windows Phone, iPhones, iPads
    and Android in both their native development languages and Mono extensively in that
    time. He is a contributor to a few open source Mono projects. He is also a very
    marginal hockey player and is lucky to still be upright.
</p>
<a name="sp31"></a>
<h2>
    Jon Stonecash
</h2>
<p>
    Jon Stonecash is a senior consultant at Magenic, a Microsoft Gold Partner consulting
    company. Jon Stonecash has worked in software development for much longer than he
    would like to admit. In that time Jon has had the opportunity to make most of the
    serious software development mistakes at least once. He has programmed in over a
    dozen languages including several different assembly languages, Fortran, COBOL,
    SNOBOL, classic Visual Basic, VB.NET, and C#. He has survived the structured programming
    revolution and the object-oriented revolutions. Jon’s software development activities
    have included the development of operating systems, scientific and engineering applications,
    and enterprise systems. He has worked in every phase of software development from
    the initial specification of requirements through to customer support. Along the
    way, he picked up a BS in Mathematics and an MBA. He still has hopes of finding
    something that he can be reasonably good at. His long term interests center about
    databases and the aspects of the application that handle data access and business
    logic. He is also interested in the tools and processes that assist the development
    process. Jon can be reached at <a href="mailto:jons@magenic.com">jons@magenic.com</a>
    . Jon also has an active blog on "Designing Out Loud in the .NET Space" at <a href="http://blog.magenic.com/blogs/jons/default.aspx"
                                                                                  target="_blank">http://blog.magenic.com/blogs/jons/default.aspx</a>.
</p>
<a name="sp32"></a>
<h2>
    Keith Dahlby
</h2>
<p>
    Keith Dahlby is a new father, .NET developer, language geek and C# MVP from Cedar
    Rapids, IA. He works as the technical lead at J&P Cycles and blogs about various
    software development topics with Los Techies. Keith has spoken at community events
    around the midwest and studied Human-Computer Interaction at Iowa State University.
    His talks have been described as "terrific!", "very interactive!", and "the best
    I've seen all hour!".
</p>
<a name="sp33"></a>
<h2>
    Chad Kulesa
</h2>
<p>
    Chad Kulesa is an Enterprise Architect at Verifications, Inc., and has been developing
    software professionally for 14+ years. In that time he's worked with C#, Java, JavaScript,
    Perl, C/C++, as well as several other specialized languages. Chad enjoys learning
    new technologies, especially technologies that make developers more productive.
    He tries to follow the rule, "As simple as possible, but no simpler" when designing
    software. When not coding, Chad spends most of his time with his wife and 4 children.
</p>
<a name="sp34"></a>
<h2>
    Vince Bullinger
</h2>
<p>
    Vince Bullinger has been a .NET developer and consultant since 2005. He has an MCSD
    for .NET with C#. In his spare time, he likes to work on the house and yard, work
    out, play video games and learn everything there is to know about everything.
</p>
<a name="sp35"></a>
<h2>
    Nazmul Siddiqui
</h2>
<p>
    Nazmul is a consultant with over 15 years of software development experience primarily
    on Microsoft platform. He began his career writing client applications and switched
    between client and web application development. His interests lie in distributed
    architecture, object and relational modeling as well as developing design patterns
    and raising code security, performance, maintainability, and scalability awareness.
    He’s currently the CEO of Naz-Tek, and regularly blogs on technology matters and
    leads the local WCF user group, hosting monthly (1st Wednesday of the month at noon)
    knowledge share meetings at Bloomington Microsoft. His main focus is to bring efficiency
    and quantitative measures into the software development industry and reorient the
    general concept of information technology as an investment center rather than a
    cost center.
</p>
<a name="sp36"></a>
<h2>
    Jaim Zuber
</h2>
<p>
    Jaim Zuber is an Independent Consultant who's written code for everything from Embedded
    Linux to .NET before jumping into the Mobile Realm. His wife is convinced it's merely
    a ploy for him to mess around on his phone and call it "research". When he's not
    writing code he's often spending time with the aforementioned wife, biking around
    town or making noise with his modest array of musical instruments... sometimes in
    public.
</p>
<a name="sp37"></a>
<h2>
    Kurt Christensen
</h2>
<p>
    Since 1995, Kurt Christensen has been paid to program computers using Pascal, C,
    x86 assembly language, C++, SQL, Java, VB.NET, Javascript, C#, Clojure and Ruby.
    Amazingly, a small portion of this code actually worked and made it into production.
    Kurt has also spent the last 9 years working as an "agile coach", whatever that
    means.
</p>
<a name="sp38"></a>
<h2>
    Steve Peterson
</h2>
<p>
    Steve Peterson is a Principal Architect for Microsoft at their office in St. Paul.
    He works in DevDiv on the Expression and Visual Studio development tools.
</p>
<a name="sp39"></a>
<h2>
    Mike Benkovich
</h2>
<p>
    Mike Benkovich delivers technical presentations around the U.S. as a developer evangelist
    on the MSDN team at Microsoft. He has worked in a variety of professional roles,
    including architect, project manager, developer, and technical writer. Mike is also
    a published author of books from WROX Press and APress that show developers how
    to get the most from their SQL databases. Since appearing in the 1994 Microsoft
    DevCast, Mike has presented technical information at seminars, conferences, and
    corporate boardrooms across America.
</p>
<a name="sp40"></a>
<h2>
    Christopher Hertel
</h2>
<p>
    Chris Hertel is CTO of ubiqx Consulting, Inc., author of the book "Implementing
    CIFS", lead author (under contract) of the Microsoft SMB/CIFS specifications. Chris
    is also a long-haul member of the Samba Team, founding member of the jCIFS project,
    and a member of two Minnesota food cooperatives.
</p>
<a name="sp41"></a>
<h2>
    Brian Bosak
</h2>
<p>
    Brian Bosak is an open-source .NET/Mono developer from Minnesota. He has been developing
    software for 4 years, and specializes in cross-platform software development, and
    network protocol development. He currently has a patent-pending on the Global Grid,
    which is a peer-to-peer networking infrastructure designed to be highly scalable,
    high-performance, and usable across many platforms. The software is designed to
    seamlessly traverse NAT firewalls when possible, and always establish the most direct
    connection possible to the desired service. He is the founder of IDWNet Cloud Computing,
    and co-founder of Pie Distribution (a software distribution company), and is planning
    on publishing the first application which uses the Global Grid this summer.
</p>
