<h1>
    Fall 2012 - Speakers
</h1>
<a name="sp1"></a>
<h2>
    Philip Nelson
</h2>
<p>
    Philip is an independent technology consultant specializing in workflow in particular
    and web based systems in general. Currently he is focused bridging the gaps between
    systems and people through design and better visualization of flow within systems.
    His workflow background was born at PAi.com where the company has produced hundreds
    of processes in in K2.net. Philip has been a contributor to books including "97
    Things Every Software Architect Should Know" by Richard Monson-Haefel, "Applying
    Domain-Driven Design and Patterns" by Jimmy Nilsson, and "Java and Xml 2nd Edition"
    by Brett McLaughlin. When not scratching geekly itches, he prefers to either have
    a guitar strapped on, or to be strapped in an airplane heading to beautiful places,
    sometimes with skis. Two continents to go.
</p>
<a name="sp2"></a>
<h2>
    David Boike
</h2>
<p>
    David Boike is a Solution Architect for Inergize Digital, specializing in distributed
    systems and service oriented architecture. His current technology interests include
    NServiceBus, RavenDB, ASP.NET MVC, and Backbone.js.
</p>
<a name="sp3"></a>
<h2>
    Mike Marshall
</h2>
<p>
    Mike Marshall is a software developer and Lead Architect at MorphoTrust, USA. He
    has been developing software professionally for 15 years and cut his programming
    teeth at an early age on his family's Apple ][e. Over the years he's specialized
    in large client-server and web applications but has recently dipped his toes into
    the mobile arena. When he's not coding or with his family he likes to chase small,
    white spherical objects around golf courses and curse at them for not bending to
    his will. He can be found online at <a href="http://mike-marshall.net" target="_blank">
        http://mike-marshall.net
    </a> or <a href="http://www.twitter.com/MustGolf" target="_blank">
        @@MustGolf
    </a> on Twitter
</p>
<a name="sp4"></a>
<h2>
    Jaim Zuber
</h2>
<p>
    Jaim is an Independent Consultant concentrating on building Mobile solutions in
    the iOS and .NET platforms. He is also an nascent entrepreneur and an occasionally
    working musician. When he's not coding or making a racket on various musical instruments,
    he's often spending time with his wife, water skiing or biking around town.
</p>
<a name="sp5"></a>
<h2>
    Judah Himango
</h2>
<p>
    I'm Judah Gabriel Himango, and I love technology. I believe that, given the rapid
    evolution of technology, medicine, and aeronautics, it's an exciting time for software
    developers, the creators and inventors in the modern age. I write about software
    and technology futures on the <a href="http://debuggerdotbreak.wordpress.com/" target="_blank">
        Debugger.Break() blog
    </a>. I'm in the process of launching a <a href="http://judahgabriel.blogspot.com/2012/07/copticbox-launches-anddrumrollim.html"
                                               target="_blank">startup around internet radio</a>. Come to my talks, you can
    expect an entertaining, informative talk that is bullet point-free, heavy on code,
    down to earth, and maybe a little fun to boot.
</p>
<a name="sp6"></a>
<h2>
    Brian Hogan
</h2>
<p>
    Brian P. Hogan is a web develper, author, editor, and instructor who’s been building
    web sites professionally since 1995 as a freelancer and consultant. His recent books
    include tmux: Productive Mouse-Free Development and Web Development Recipes. He
    enjoys teaching and writing about technology, particularly web design, accessibility,
    and development. When not hacking on Ruby or JavaScript code, he’s writing songs,
    watching “The Simpsons,” and spending quality time with his wife and daughters.
</p>
<a name="sp7"></a>
<h2>
    Chris Johnson
</h2>
<p>
    Chris Johnson is a web developer and technology consultant living outside of Madison,
    Wisconsin. He has been developing websites professionally since 2003 when he got
    his first paycheck as a freelancer. When he's not developing, he enjoys tinkering
    with technology and mechanical things, photography, video games, playing hockey,
    remodeling his house and spending time with his wife and their two dogs.
</p>
<a name="sp8"></a>
<h2>
    Marc Grabanski
</h2>
<p>
    Marc Grabanski's background is in open source. He was the creator of the jQuery
    UI Datepicker project. Marc is now focused on connecting the worlds experts in order
    to create the highest quality education possible through workshops and events. Recent
    events he has created include Day of JavaScript on Mobile at Google HQ and Frontend
    Masters Workshop Series at the MJG Workshop Center. Marcs deepest area of expertise
    is in building UI-intensive applications. He has built out countless diverse interfaces
    with the MJG International team by partnering with product leads who need their
    dreams built out. Lately hes been working on projects with SVG/RaphaelJS and separately
    on web applications built on top of jQuery mobile.
</p>
<a name="sp9"></a>
<h2>
    Kevin W. Gisi
</h2>
<p>
    Kevin W. Gisi is a product engineer with Mashable, and dedicates his efforts to
    the place where software, journalism, and social media meet. He works out of Manhattan,
    and has spoken numerous times at TCCC and other regional conferences on subjects
    including Ruby, JavaScript, test-driven development, Go, and Dart. Kevin would like
    to use his remaining bio space to encourage you to come to his talks, or contact
    him via email (<a href="mailto:kevin@kevingisi.com">kevin@kevingisi.com</a>), Twitter
    (<a href="http://www.twitter.com/gisikw" target="_blank">@@gisikw</a>), or a firm
    handshake in the hall.
</p>
<a name="sp10"></a>
<h2>
    Lyle Luppes
</h2>
<p>
    Lyle Luppes has been developing applications for over 25 years now, starting on
    mainframes and AS/400’s, then moving to client-server and Windows applications,
    and then on to web development. After working at very large companies and very small
    consulting firms, he started his own business in 2000, doing just about everything
    from building servers to wiring networks to being the Database Administrator. He
    enjoys doing a wide variety of tasks, but likes pure creative development the best.
    Lyle has taught a college level class and mentored many developers along the way,
    and now that his kids are grown and out of the house, he’s looking for new opportunities
    to share what he has learned.
</p>
<a name="sp11"></a>
<h2>
    Ed Jones
</h2>
<p>
    Ed Jones is a Microsoft-Certified consultant specializing in Connected Systems and
    .NET development for <a href="http://www.rbaconsulting.com/" target="_blank">RBA</a>.
    With over 15 years of IT experience, Ed has helped both large and small clients
    in a variety of industries such as banking, healthcare, transportation, and big-box
    retail among others. He has served as developer, architect, technical lead, mentor,
    and trainer. You can read about Ed’s technical thoughts and experiences as well
    as pick up a tip or two on his blog, Extremely Talented Monkeys (<a href="http://talentedmonkeys.wordpress.com"
                                                                        target="_blank">http://talentedmonkeys.wordpress.com</a>). His most recent Microsoft
    certifications include trainer (MCT), Professional Developer (MCPD) for Web Applications
    and Windows Azure, and Technology Specialist (MCTS) in WCF 4.0 and BizTalk 2010.
</p>
<a name="sp12"></a>
<h2>
    Matt Milner
</h2>
<p>
    Matt is an independent consultant specializing in Microsoft application design and
    development. Through writing articles and creating online learning content for Pluralsight,
    Matt works to share his knowledge of technology with others. Matt regularly shares
    his love of technology by speaking at local, regional and international conferences
    such as Tech Ed, Heartland DC, Twin Cities Code Camp, and various user groups. Microsoft
    has recognized Matt as an MVP for his community contributions around connected systems
    technology.
</p>
<a name="sp13"></a>
<h2>
    Todd H Gardner
</h2>
<p>
    Todd H Gardner is a Minneapolis-based Software Developer and Team Leader. He is
    passionate about building and growing software teams that are at the heart of project
    success. While he is currently focused on JavaScript in the web, he works in a wide
    variety of languages and platforms. Todd is the found of Wocketware consulting and
    product development.
</p>
<a name="sp15"></a>
<h2>
    Dan Callahan
</h2>
<p>
    Dan Callahan is a Minneapolis-based software engineer at Mozilla. His work focuses
    on the developer-facing aspects of Persona, a decentralized, cross-browser authentication
    system that completely eliminated per-site passwords. He blogs at <a href="http://dancallahan.info"
                                                                         target="_blank">http://dancallahan.info</a> and is <a href="http://www.twitter.com/callahad"
                                                                                                                               target="_blank">@@callahad</a> on Twitter.
</p>
<a name="sp16"></a>
<h2>
    Jeff Brand
</h2>
<p>
    Jeff Brand is a .NET Developer in Microsoft's Developer and Platform Group. Jeff
    assists customers in evaluating, developing and deploying applications built on
    the .NET Framework and the Microsoft platform, with a current focus on Windows Phone
    and Windows 8. He has been with Microsoft for sixteen years and has served in variety
    of roles including infrastructure consultant, e-commerce technology specialist,
    and enterprise technology advisor.
</p>
<a name="sp17"></a>
<h2>
    Ryan Niemeyer
</h2>
<p>
    Ryan Niemeyer has been working with web technologies for the better part of his
    13+ years at Epic and lives just outside Madison, Wisconsin with his wife and two
    daughters. In his spare time, he loves to participate in open source development.
    He is a member of the Knockout.js core team, has written several Knockout plugins,
    and blogs about his experiences at <a href="http://knockmeout.net" target="_blank">
        http://knockmeout.net
    </a>.
</p>
<a name="sp18"></a>
<h2>
    Brent Edwards
</h2>
<p>
    Brent Edwards is an Associate Principal Consultant for Magenic, a Microsoft Gold
    Partner software development firm. He is an accomplished software developer, architect,
    mentor, and speaker with over 7 years of experience in developing innovative solutions
    with Microsoft technologies. Brent has worked on projects ranging from ASP.NET MVC
    with jQuery to WPF to Silverlight. He is also the author of MVVM Fabric (<a href="http://mvvmfabric.com/"
                                                                                target="_blank">http://mvvmfabric.com/</a>), a free MVVM framework for WPF. In
    addition to Microsoft technologies, Brent develops applications for the Android
    platform. His apps have over two million downloads and he was selected by Google
    as a Top Android Developer for their Device Seeding Program. When not cranking out
    code, you can find him hanging out with his wife and four kids or riding his wakeboard,
    snowboard or mountain bike. Check out his blog at <a href="http://brentedwards.net"
                                                         target="_blank">http://brentedwards.net</a>.
</p>
<a name="sp19"></a>
<h2>
    Jeff Klawiter
</h2>
<p>
    Jeff Klawiter is a Principal Software Engineerat The Nerdery. He has a long history
    of working in many variations of .NET, with more than a few XAML based projects
    under his belt. He is also the currentmaintainer of the popular open source library
    HtmlAgilityPack.
</p>
<ul>
    <li><a href="http://twitter.com/jeffklawiter" target="_blank">twitter.com/jeffklawiter</a></li>
    <li><a href="http://nerdery.com/Jk" target="_blank">http://nerdery.com/Jk</a></li>
</ul>
<a name="sp20"></a>
<h2>
    Rockford Lhotka
</h2>
<p>
    Rockford Lhotka is CTO at Magenic, and is the creator of the widely used CSLA .NET
    development framework. He is the author of numerous books, and regularly speaks
    at major conferences around the world. Rockford is a Microsoft Regional Director
    and MVP. Magenic (<a href="http://www.magenic.com" target="_blank">www.magenic.com</a>)
    is a company that specializes in planning, designing, building and maintaining your
    enterprise’s most mission critical systems. For more information go to <a href="http://www.lhotka.net"
                                                                              target="_blank">www.lhotka.net</a>.
</p>
<a name="sp21"></a>
<h2>
    Ian Felton
</h2>
<p>
    My interest in technology began at the age of 15, when I started building PCs, broke
    open a TurboC book and installed a C compiler on a 286. After learning Pascal and
    ADA in college, I added Perl and JavaScript to my tech skills while working as an
    intern on an educational project for NASA. Lately, I've been focusing on polyglot
    programming, database thaw, RESTful APIs and CQRS with Erlang. I now have 14 years
    professional experience writing software while working on global initiatives for
    the U.S. Dept. of Defense, Thomson Reuters, Mylan Pharmaceuticals, US Bank, Trane
    and many more. During this time, I’ve become an expert on website accessibility,
    educating and training executives on the topic. In 2008, I started a nonprofit to
    aid public school band programs in distressed counties of Appalachia, where I’m
    from. Using technology that I’m passionate about to help raise awareness of an issue
    I care about has really created meaning for me.
</p>
<a name="sp22"></a>
<h2>
    Vince Bullinger
</h2>
<p>
    Vince Bullinger has been a passionate .Net developer and consultant since 2005.
    He has an MCSD for .NET with C#. In his spare time, he likes to do home projects,
    work out, play video games and learn everything there is to know about everything.
</p>
<a name="sp23"></a>
<h2>
    Chad Kulesa
</h2>
<p>
    Chad Kulesa is an Enterprise Architect at Verifications, Inc., and has been developing
    software professionally for 14+ years. In that time he's worked with C#, Java, JavaScript,
    Perl, C/C++, as well as several other specialized languages. Chad enjoys learning
    new technologies, especially technologies that make developers more productive.
    He tries to follow the rule, "As simple as possible, but no simpler" when designing
    software. When not coding, Chad spends most of his time with his wife and 4 children.
</p>
<a name="sp24"></a>
<h2>
    Mike Benkovich
</h2>
<p>
    Mike Benkovich is a former Microsoft evangelist who has spent his career helping
    developers explore and apply new technologies to solving information challenges.
    His website <a href="http://www.benkotips.com" target="_blank">www.benkotips.com</a>
    provides developers with resources to get started and work with technologies including
    cloud, data and devices. Follow him on twitter @@mbenko.
</p>
<a name="sp25"></a>
<h2>
    Brent Stineman
</h2>
<p>
    Brent Stineman is a Sr. Manager and National Cloud Solution Lead with Sogeti USA.
    His 18+ year IT career has spanned platforms from the mainframe to mobile devices.
    However, he’s spent the bulk of the last 10 years working on internet applications
    and distributed system development. Brent started working with the Windows Azure
    platform early in its CTP phase and is now focused on helping colleagues and clients
    explore the promise of cloud computing.
</p>
<a name="sp26"></a>
<h2>
    Josh Broton
</h2>
<p>
    I’m the Interactive Design Lead and front-end developer at VistaComm in Sioux Falls,
    SD. I’ve been making websites since 1995 and have had the dubious honor of dealing
    with every major shift in web paradigm since the Internet Explorer vs. Netscape
    Navigator days. Today, you’ll find me tinkering with JavaScript and responsive web
    design, finishing my Computer Science/Network Security degrees, and maintaining
    a rigorous schedule of snarky tweeting at <a href="http://www.twitter.com/joshbroton"
                                                 target="_blank">@@joshbroton</a>.
</p>
<a name="sp27"></a>
<h2>
    Jason Bock
</h2>
<p>
    Jason Bock is a Principal Consultant for <a href="http://www.magenic.com" target="_blank">
        Magenic
    </a> and a Microsoft MVP (C#). He has worked on a number of business applications
    using a diverse set of substrates and languages such as C#, .NET, and Java. He is
    the author of "Applied .NET Attributes", "CIL Programming: Under the Hood of .NET",
    and the forthcoming "Metaprogramming in .NET". He has written numerous articles
    on software development issues and has presented at a number of conferences and
    user groups. He is a leader of the <a href="http://www.twincitiescodecamp.com" target="_blank">
        Twin Cities Code Camp
    </a> and the Twin Cities Windows 8 User Group. Jason holds
    a Master's degree in Electrical Engineering from Marquette University. Visit his
    web site at <a href="http://www.jasonbock.net" target="_blank">http://www.jasonbock.net</a>.
</p>
<a name="sp28"></a>
<h2>
    Brock Noland
</h2>
<p>
    Brock Noland is an Engineer at Cloudera where works on Apache Flume. He attended
    the University of Minnesota and is formerly a Lead Software Engineer at Thomson
    Reuters were he implemented log processing on Hadoop. He spends most of his time
    dealing with broken abstractions and other odd phenomena of large distributed systems.
    When not working, he likes to sail, scuba dive, and trek.
</p>
<a name="sp29"></a>
<h2>
    Scott Davis
</h2>
<p>
    Scott Davis is CEO of QONQR (pronounced Conquer), a mobile gaming company in Minneapolis,
    focusing on location based games. QONQR is a massively multiplayer mobile game on
    iPhone and Windows Phone (Android under development) that allows players to capture
    cities and towns on the map of the real world, using their phone’s GPS location.
</p>
<a name="sp30"></a>
<h2>
    Brian Bosak
</h2>
<p>
    Brian Bosak is an experienced software developer with experience in C++, .NET, Java,
    C, JavaScript (if that counts), and ActionScript. Brian Bosak has co-founded a startup
    called PieDistribution with Gerald Pierson. Pie Distribution is a company which
    creates and maintains SysLibs for Windows, and is working on a cross-platform version
    which is yet to be named. Brian Bosak is 19 years old, and spoke last year at age
    18 as the youngest speaker ever to speak at a Twin Cities Code Camp event.
</p>
<a name="sp31"></a>
<h2>
    Rick Krueger
</h2>
<p>
    Rick Krueger is a SQL Server indie based in the Twin Cities with 17 years of software
    and database development experience, working with SQL Server since 1998 (6.5). Don’t
    let his developer credentials (MCPD) and background fool you, he knows a thing or
    two about SQL, and is currently focusing on Development DBA work. Rick has recently
    started tweeting as @@DataOgre to get more involved in the SQL Community.
</p>
<a name="sp32"></a>
<h2>
    Dave Valentine
</h2>
<p>
    Dave Valentine is a Development DBA with over 10 years of experience with SQL Server
    and Development technologies, specializing in Business Intelligence and ingenious
    solutions. Dave has also been an Adjunct Professor at Metropolitan State University
    for the past 10 years educating students in Database Management, Web Development,
    and Java Programming.
</p>
<a name="sp33"></a>
<h2>
    Jon Marozick
</h2>
<p>
    Jon Marozick is the co-founder of the Mankato .NET User Group. He has over 15 years
    of experience in the IT industry in a variety of areas such as helpdesk, systems
    administration, quality assurance, and development. Over the past 13 years he's
    taught college courses in C++, C#, and Microsoft Office. Currently, he works as
    a Senior Software Engineer at Plato Learning, Inc. in Bloomington, MN.
</p>
<a name="sp35"></a>
<h2>
    Keith Dahlby
</h2>
<p>
    Keith Dahlby is a new father, web developer, Git enthusiast, language geek and C#
    MVP from Cedar Rapids, IA. He leads the E–Commerce team at J&amp;P Cycles and blogs
    about various software development topics with Los Techies. His open source efforts
    include posh-git, a Git environment for PowerShell, and FSRazor, F# support for
    the Razor view engine. Keith has spoken at community events around the Midwest and
    he studied Human-Computer Interaction at Iowa State University. His talks have been
    described as "terrific!", "very interactive!", and "the best I've seen all hour!".
</p>
<a name="sp36"></a>
<h2>
    Justin Chase
</h2>
<p>
    Justin Chase works for Microsoft in the St. Paul office on the Browser Developer
    Tools team.
</p>
