<h1>Fall 2014 - Speakers</h1>
<p>
    Here's the list of speakers that have submitted sessions. Note that the final list of selected speakers may not contain all of the speakers listed here.
</p>
<a name="sp1"></a>
<h2>
    Mike Benkovich
</h2>
<p>
    Energy, laughter, and a contagious passion for coding — Mike Benkovich brings it all with him. In a career that has taken him from minion to business owner, from database administrator (DBA) to developer, from author to evangelist, Mike has seen it all. In more than twenty-five years of working in the technology industry, he has been part of the latest waves to sweep the industry. Whether presenting at developer events live or online, sharing the latest approaches on the developer resource site <a href="www.BenkoTips.com" target="_blank">www.BenkoTips.com</a> or his blog, mike brings enthusiasm for tools and an energy for the search to find a better way. follow mike on twitter <a href="http://twitter.com/mbenko" target="_blank">@@mbenko</a>.
</p>
<a name="sp2"></a>
<h2>
    Brandon H
</h2>
<p>
    Brandon has been a Sr. .Net Software Engineer for the nation’s largest hearing aid manufacturer located here in the Twin Cities for 7 years. In his spare time he also develops apps for Windows Phone and Windows 8 as a hobby. He has also worked for a mobile startup developing a cross-platform framework consulting on its implementation. He specializes in mobile and n-tier .Net development. Read his blog at <a href="http://netitude.bc3tech.net" target="_blank">http://netitude.bc3tech.net</a> – follow him on twitter <a href="http://twitter.com/bc3tech" target="_blank">@@bc3tech</a>.
</p>
<a name="sp3"></a>
<h2>
    Kamran Ayub
</h2>
<p>
    Kamran Ayub is a Senior Application Developer working at General Mills who is passionate about technology and sharing his experiences with others. On the side, he works on several personal projects, has contributed to multiple open source libraries, and attempts to balance his development and gaming hobbies, often unsuccessfully. He’s been in the web and software industry for over a decade, working on multiple development teams within General Mills for over 5 years. He's frighteningly easy to find, but you can follow him <a href="http://twitter.com/kamranayub" target="_blank">@@kamranayub</a> or on his blog, <a href="http://kamranicus.com" target="_blank">kamranicus.com</a>.
</p>
<a name="sp4"></a>
<h2>
    Richard Brantley
</h2>
<p>
    Richard Brantley is a Senior Consultant with Magenic and has been doing software development for over 16 years, mostly in .NET but also in other web-oriented technologies. Other roles in his professional history include operations management and senior management, but don’t hold that against him. He believes in the power of software to make people’s working lives more pleasant and productive. <a href="http://rbrantley.me" target="_blank">http://rbrantley.me</a>
</p>
<a name="sp5"></a>
<h2>
    Carl Schweitzer
</h2>
<p>
    Carl Schweitzer (<a href="http://twitter.com/carlschweitzer" target="_blank">@@carlschweitzer</a>) is a software engineering consultant with Skyline Technologies, and a Microsoft MVP in Windows Platform Development. He has a passion for mobile development and enjoys teaching and speaking on Windows Phone. A fan of technology, he loves learning new and applicable technologies in mobile, cloud, and the client environment. Carl is ever focused on developing and maintaining the finest software in the world, utilizing agile and best practice methodologies in software development.
</p>
<a name="sp6"></a>
<h2>
    Jeremy Ellis
</h2>
<p>
    Jeremy Ellis has been a Microsoft .NET software developer since 2002; and a healthcare software developer since 2004.  He has been working with mobile devices and Xamarin technology since 2011.  He is a Xamarin Certified Mobile Developer (iOS and Android) and is also Microsoft certified; and is currently developing a cross-platform clinical app for the iPad and other tablet devices.  Follow Jeremy on Twitter <a href="http://twitter.com/misterdos" target="_blank">@@misterdos</a>.</p>
<a name="sp7"></a>
<h2>
    Jake Good
</h2>
<p>
    I'm the founder of <a href="http://developstuff.com/" target="_blank">DevelopStuff LLC</a>. I'm a ruby developer that loves to play with science, math, and gadgets. Previously, I was part of a startup called <a href="http://drop.io" target="_blank">drop.io</a>, acquired by Facebook. I live in Minneapolis with my wife, 2 dogs, and son. I'm a foodie, a gamer, and a car enthusiast.
</p>
<a name="sp8"></a>
<h2>
    Shannon Hofer
</h2>
<p>
    Shannon Hofer works for a Wisconsin based Software Company as a senior architect. He has been developing software for over twenty years using various platforms and favoring web development. Shannon is an avid technologist and passionate about software development.
</p>
<a name="sp9"></a>
<h2>
    Vince Bullinger
</h2>
<p>
    Vince has been a passionate developer and consultant since 2005. He is currently an independent contractor. He received his MCSD for .NET with C# back in 2008. In recent years, he’s immersed himself in front end technologies. Even more recently, he’s developed a passion for mobile development, specifically of the cross-platform variety.
</p>
<a name="sp10"></a>
<h2>
    Md khan
</h2>
<p>
    Md khan is a curious JavaScript developer and a frequent speaker. He helps to organize monthly Chicago JavaScript meetups. His weekends are filled with the excitement of preparing talks, writing blogs for <a href="http://www.thatjsdude.com/" target="_blank">www.thatjsdude.com</a>, making videos for <a href="https://www.youtube.com/user/khanLearning" target="_blank">https://www.youtube.com/user/khanLearning</a>, or pulling out his hair to figure out how this new javascript library works. so, the only way, md khan gets enough sleep at night is to spend at least 6 hr per day in javascript. that could be by reading javascript weekly or pushing code to github when his manager is not around. he is simply addicted to javascript.
</p>
<p>
    If you are still interested to read his job title (you might be an auto insurance agent), Md is a senior web developer at Nielsen, Chicago, IL.
</p>
<a name="sp11"></a>
<h2>
    Joel Kauffman
</h2>
<p>
    Joel Kauffman is the development manager for Vistacomm, a web development company, in Sioux Falls, SD. Joel has spoken previously at various conferences in the region, and enjoys meeting and talking with people who share his passion for technology. When he isn’t speaking or building software, Joel spends time with his wife and 4 kids.
</p>
<a name="sp12"></a>
<h2>
    Nick Melnick
</h2>
<p>
    Nick Melnick is a Minneapolis-based, multi-language developer, architect, and technology generalist with over fifteen years of experience. He tends to evangelize the underdogs of technology, and is subject to technological whims and experimentation. He is currently a director of development for a local e-commerce company, and occasional contributor to various open source tools.
</p>
<a name="sp13"></a>
<h2>
    Brian Bosak
</h2>
<p>
    Brian Bosak is currently the owner and CEO of IDWNet Cloud Computing Llc. This is his 3rd speech at Code Camp. Brian is highly experienced with many technologies; such as .NET, Mono, C++, embedded operating system design, virtualization, and Objective-C for Apple platforms. Brian also has a large number of open-source repositories available on GitHub at <a href="https://github.com/IDWMaster" target="_blank">https://github.com/IDWMaster</a>, and has recently been working with distributed data systems, p2p networks, and centralized cloud services.
</p>
<a name="sp15"></a>
<h2>
    Kevin Hakanson
</h2>
<p>
    Kevin Hakanson (<a href="http://twitter.com/hakanson" target="_blank">@@hakanson</a>) is a Sr. Software Architect for Thomson Reuters where he is focused on highly scalable web applications, especially the JavaScript and security aspects. His background includes both .NET and Java, but he is most nostalgic about Lotus Notes. He has been developing professionally since 1994 and holds a Master’s degree in Software Engineering. When not staring at a computer screen, he is probably staring at another screen, either watching TV or playing video games with his family.
</p>
<a name="sp16"></a>
<h2>
    Benoy John
</h2>
<p>
    Benoy John is a Software Engineering Professional/Agile Development Coach with experience in all phases of product development and design aspects. He continues to help organizations to figure out better ways to deliver value through improving software development practices and improving business process. He works as Technical Mentor/Coach at both the Leadership and Team levels, building the supporting agile adoption framework, providing agile adoption guidance to leadership, and working with the team on the execution of proven practices and techniques that bring agility to the projects. He is actively involved in Agile Coaching, mentoring, training and building high performance professional agile teams. He has great passion in Test Driven Development, Business Driven Development and Domain Driven Design practices in software development and believes in collaboration and team work for success. Follow <a href="http://twitter.com/benoyjohnv" target="_blank">@@benoyjohnv</a>.
</p>
<a name="sp17"></a>
<h2>
    Jason Clifford
</h2>
<p>
    Jason Clifford is an automation engineer at Wells Fargo working on a puppet deployment for Windows and Linux. The project involves not only technical changes but cultural changes as many teams change their processes and learn to better work with each other. Prior to Wells Fargo he spent 4 years at 3M automating a deployment on a Windows environment the last iteration of which was built using Chef. When not developing he enjoys playing video and board games and spending time with his wife, friends and cat.
</p>
<a name="sp18"></a>
<h2>
    Eric Brandes
</h2>
<p>
    Eric Brandes is one of the co-founders of local Twin Cities start-up {Track:js} and an independent software consultant.  He’s been doing full stack web application development for over a decade.  He strongly believes in the simplest thing that could possibly work and failing fast.
</p>
<a name="sp19"></a>
<h2>
    Joe Koletar
</h2>
<p>
    Joe Koletar is the Enterprise Mobile Technology Lead at RBA and also leads the Minnesota Enterprise Mobile user group.  Joe has been developing systems for more than 25 years and has been involved in mobile since 2008.  At RBA, Joe is responsible for leading RBA's mobile technical direction and delivery.  At home, Joe has too many interests to list.
</p>
<a name="sp20"></a>
<h2>
    Justin Chase
</h2>
<p>
    Justin Chase works for Microsoft, in the St. Paul office, on the F12 developer tools for IE. He works daily in TypeScript, C# and C++. He has recently been fascinated by Virtual Reality and has been spending a lot of time learning about Unity3D and 3D applications.
</p>
<a name="sp21"></a>
<h2>
    Zac Harlan
</h2>
<p>
    Zac Harlan is a applications development manager for J&P Cycles which is based in Anamosa, Iowa. J&P Cycles is the world's leading aftermarket retailer for motorcycle parts and accessories and one of Iowa's largest eCommerce sites. Zac believes in Agile development processes and works to focus his and his teams efforts on "being Agile" more than "doing Agile". As a software professional for well over a decade Zac prides himself on being a "full stack" developer having worked in such industries as eCommerce/retail, manufacturing, telecommunications, and health care. Zac carries with him a pragmatic approach to building software and looks to improve processes that will improve the business, both inside and outside of software. <a href="http://geekswithblogs.net/ZacHarlan" target="_blank">http://geekswithblogs.net/ZacHarlan</a>
</p>
<a name="sp22"></a>
<h2>
    Keith Dahlby
</h2>
<p>
    Keith Dahlby is a father, web developer, Git enthusiast, language geek and five-time C# MVP from Cedar Rapids, Iowa. By day he engineers e-commerce solutions for J&P Cycles and the Motorsport Aftermarket Group; by night he sometimes blogs with Los Techies. His open source efforts include posh-git, a Git environment for PowerShell; and <a href="http://up-for-grabs.net" target="_blank">up-for-grabs.net</a>, a site featuring open source projects looking to mentor new contributors. He's also a core contributor to LibGit2Sharp, used by GitHub for Windows and Git for Visual Studio. Keith studied Computer Engineering and Human-Computer Interaction at Iowa State University, and has spoken at developer events around the world. His talks have been described as “terrific!”, “very interactive!”, and “the best I’ve seen all hour!”.
</p>
<a name="sp23"></a>
<h2>
    Josh Renner
</h2>
<p>
    My first experience with stylesheets was in InDesign and it's what drove me to web development. I jumped on-board with LESS as soon as it was released, and SASS and Compass soon afterward. I've styled large, brandable, multi-product SAAS suites and many quick, forgettable sites. These days I mostly write JavaScript, obsess over web components, think Dart is pretty sweet, and is finally building my first home server to satisfy my kids' Minecraft appetite. It's the perfect time to reflect on the piles of stylesheets I've written and share what I learned.
</p>
<a name="sp24"></a>
<h2>
    Travis Feirtag
</h2>
<p>
    Travis is a Senior Engineering Consultant in Southern Wisconsin with both hardware and software experience.  He spends a lot of time writing .NET code and loves to work with bleeding edge technologies.   He's very interested in Man-Machine Interfaces(MMI) and User Experiences(UX).   With the greater availability of low cost sensors, software applications can have a better understanding of the user's environment which allows the user to interact with systems in new and interesting ways.  It's a very exciting time to be an engineer :)
</p>
<a name="sp25"></a>
<h2>
    Justin Wendlandt
</h2>
<p>
    Justin Wendlandt is an Associate Lead Consultant at Magenic technologies (<a href="http://www.magenic.com" target="_blank">www.magenic.com</a>). He is an avid technologist who is passionate about computer science, security, usability and software patterns and practices. Professionally he focuses on using Microsoft technologies to solve business and enterprise scale problems. You can find out more information about him at <a href="http://www.jwendl.net/" target="_blank">http://www.jwendl.net/</a> or you can follow him on twitter <a href="http://twitter.com/jwendl" target="_blank">@@jwendl</a>.
</p>
<a name="sp26"></a>
<h2>
    Charles Oliver Nutter
</h2>
<p>
    Charles works on the JVM and JVM languages at Red Hat.
</p>
<a name="sp27"></a>
<h2>
    Austin Thompson
</h2>
<p>
    Austin Thompson is a software engineer with a love of learning and 15 years of professional experience. Currently a full stack developer using Microsoft technologies and AngularJS, he at one time owned only Linux machines while developing embedded systems in C/C++. When not spending time with his family he can be found working on his Windows Phone apps and open source tools.
</p>
<a name="sp28"></a>
<h2>
    Scott Colestock
</h2>
<p>
    Scott Colestock has contracted independently in the Twin Cities for 10 years, and in the industry for 20+.  Most recently, he's been involved in startups such as LiquidSpace and Farm Intelligence, focused on both mobile and cloud architecture (and DevOps before it was even cool.)  He is deep into both Amazon Web Services and Windows Azure, and enjoys playing a data scientist on TV.
</p>
<a name="sp30"></a>
<h2>
    Oren Eini, aka Ayende Rahien
</h2>
<p>
    Oren Eini is the creator of RavenDB and the founder of Hibernating Rhinos. He is the author of Rhino Mocks, one of the most popular mocking frameworks on the .NET platform, and he is well known by his contributions to open source projects like NHibernate, the Rhino Tools Suite and the Castle project.
</p>
<a name="sp31"></a>
<h2>
    Jason Bock
</h2>
<p>
    Jason Bock is a Practice Lead for Magenic (<a href="http://www.magenic.com" target="_blank">http://www.magenic.com</a>) and a Microsoft MVP (C#). He has 20 years of experience working on a number of business applications using a diverse set of frameworks and languages such as C#, .NET, and JavaScript. He is the author of "Metaprogramming in .net", "Applied .NET Attributes" , and "CIL Programming: Under the Hood of .NET". He has written numerous articles on software development issues and has presented at a number of conferences and user groups. He is a leader of the Twin Cities Code Camp (<a href="http://www.twincitiescodecamp.com" target="_blank">http://www.twincitiescodecamp.com</a>). Jason holds a Master's degree in Electrical Engineering from Marquette University. Visit his web site at <a href="http://www.jasonbock.net" target="_blank">http://www.jasonbock.net</a>.
</p>
<a name="sp32"></a>
<h2>
    Mike Marshall
</h2>
<p>
    Mike Marshall is a software architect at a local biometrics, identity and credentialing company.  He's spent two decades designing, developing and deploying distributed, highly-available applications.  While focused primarily on the Microsoft eco-system he has experience on a number of platforms, including mobile and web technologies.
</p>
<a name="sp33"></a>
<h2>
    Philip Nelson
</h2>
<p>
    Philip is an independent technology consultant specializing in enterprise architecture, workflow, and web based systems. Currently he is focused bridging the gaps between systems and people through process design and better visualization of flow within systems.
</p>
<p>
    Philip has been a contributor to books including "97 Things Every Software Architect Should Know" by Richard Monson-Haefel, "Applying Domain-Driven Design and Patterns" by Jimmy Nilsson, and "Java and Xml 2nd Edition" by Brett McLaughlin. When not scratching geekly itches, he prefers to either have a guitar strapped on, or to be strapped in an airplane heading to beautiful places, sometimes with skis. Two continents to go.
</p>
<a name="sp34"></a>
<h2>
    Brent Edwards
</h2>
<p>
    Brent Edwards is a Principal Lead Consultant for <a href="http://www.magenic.com" target="_blank">Magenic</a>. He is an accomplished software developer, architect, mentor, and speaker with over 9 years of experience developing innovative solutions with Microsoft technologies. Brent has worked on projects with ASP.NET MVC and jQuery, WPF, Silverlight, and Windows 8. He is also the author of Charmed (<a href="https://github.com/brentedwards/Charmed" target="_blank">https://github.com/brentedwards/Charmed</a>), an open source, cross-platform MVVM support library for Windows 8 and Windows Phone 8. In addition to working with Microsoft technologies, Brent is also an accomplished Android developer whose apps have more than two million downloads. When not cranking out code, you can find him hanging out with his wife and four kids or riding his wakeboard, snowboard or mountain bike. Check out his blog at <a href="http://brentedwards.net" target="_blank">http://brentedwards.net</a> and follow him on twitter <a href="http://twitter.com/brentledwards" target="_blank">@@brentledwards</a>.
</p>
<a name="sp35"></a>
<h2>
    Judah Himango
</h2>
<p>
    I'm an independent software developer who likes building things.  I've built stuff for big companies like 3M (<a href="http://3m.com/vas" target="_blank">3m.com/vas</a>), tiny companies like youth homeless shelters (<a href="http://ysnmn.org" target="_blank">http://ysnmn.org</a>). I've built stuff for my religious community (<a href="http://messianicradio.com" target="_blank">messianicradio.com</a>, <a href="http://messianicchords.com" target="_blank">messianicchords.com</a>, <a href="http://etzmitzvot.com" target="_blank">etzmitzvot.com</a>). I'm a father of 2, husband, guitar player, and music lover.
</p>
