<h1>Spring 2011 - Speakers</h1>
<a name="sp1"></a>
<h2>
    Jacob VanScoy
</h2>
<p>
    Jacob is a senior developer at Atomic Playpen in Minneapolis. Over the past seven
    years, he has worked with a wide variety of technologies and programming languages.
    Jacob became a father in October when he and his wife Betsy welcomed their daughter
    Lucy into the world.
</p>
<a name="sp3"></a>
<h2>
    Avonelle Lovhaug
</h2>
<p>
    Avonelle Lovhaug escaped the corporate grind in 2003. Since then she's been running
    <a href="http://www.codepoetrysoftware.com/" target="_blank">Code Poetry</a>, her
    freelance programming venture serving tech savvy small businesses in the Twin Cities.
    Avonelle lives just outside St. Paul with her husband, and after raising two geek
    sons with careers in tech-related fields, she's done her part for future generations.
    She'd tell you how long she's been working with computers, but her age is classified.
    Avonelle writes about going freelance at <a href="http://www.IndyCoding.com" target="_blank">
        www.IndyCoding.com
    </a>.
</p>
<a name="sp4"></a>
<h2>
    Marc Harter
</h2>
<p>
    Marc Harter is a Web Developer for Applied Data Consultants in Eau Claire, WI. He
    is actively involved in the JavaScript community from the browser to the server
    side. He enjoys: studying program languages and paradigms, obsessively changing
    his theme and background on Ubuntu Linux, and keeping up with the latest in web
    development. He has a beautiful wife and two beautiful children.
</p>
<a name="sp5"></a>
<h2>
    Brock Noland
</h2>
<p>
    Brock Noland is an Instructor at Cloudera where he teaches Apache Hadoop developer
    and admin courses to public and private audiences. He attended the University of
    Minnesota and is formerly a Lead Software Engineer at Thomson Reuters were he implemented
    log processing on Hadoop. He spends most of his time dealing with broken abstractions
    and other odd phenomena of large distributed systems. When not working, he likes
    to sail, scuba dive, and trek.
</p>
<a name="sp6"></a>
<h2>
    Chris Johnson
</h2>
<p>
    Chris Johnson is a Software Engineer with Getty Images. He has been developing web
    applications since 2003 and has been working with Ruby professionally since 2007.
    Chris also works as an independent consultant for business and organizations around
    the midwest. In his spare time Chris enjoys photography, spending time with family
    and friends, and tinkering with anything electronic or mechanical.
</p>
<a name="sp7"></a>
<h2>
    Judah Himango
</h2>
<p>
    Judah is a developer with Avtex in Bloomington, where his responsibilities range
    from looking busy, to fetching caffeinated beverages for Mike Hodnick. He likes
    to pretend to know more than he really does. But he's good at pretending. Of the
    few things he actually knows how to do, .NET client dev is his specialty. He thinks
    most developers take themselves way too seriously. He can't believe people pay him
    to write software. His favorite past times include writing code that will pay for
    his early retirement to Cancoon, wrestling with his kids, smooching his wife, playing
    the guitar poorly, hoarding free food at developer events, and speaking about himself
    in the third person.
</p>
<a name="sp8"></a>
<h2>
    Brent Edwards
</h2>
<p>
    Brent Edwards is a Senior Consultant for <a href="http://www.magenic.com" target="_blank">
        Magenic
    </a>, a Microsoft Gold Partner consulting company. Brent has been knocking
    around the .NET world for over six years, working on projects ranging from ASP.NET
    MVC with C# and jQuery to WPF with VB.NET. In his spare time, Brent develops applications
    for the Android platform. His apps have over one million downloads and he was selected
    by Google as a Top Android Developer for their Device Seeding Program. When not
    cranking out code, you can find him hanging out with his wife and three kids or
    riding his wakeboard, snowboard or mountain bike. Check out his blog at <a href="http://brentedwards.net"
                                                                               target="_blank">http://brentedwards.net</a>.
</p>
<a name="sp9"></a>
<h2>
    Aaron Godin
</h2>
<p>
    Aaron Godin is a Computer Engineering student attending University of Wisconsin
    - Eau Claire. If he's not deep in a Rails application or programming in Ruby, he
    spends his time working with all things front-end. He's an amateur designer and
    has an interest in user experience design and information architecture. Besides
    being a Macophile, his other interests include electronic music, martial arts, skateboarding,
    and making fun of iPad commercials.
</p>
<a name="sp10"></a>
<h2>
    Christopher Bartling
</h2>
<p>
    Christopher Bartling has participated in the IT industry since 1995. He has served
    in the roles of application developer, mentor and agile coach and has experience
    in biometrics, healthcare, insurance, and legal/regulatory domains. Chris also helps
    develop and deliver training for DevJam. Previous to his career in IT, Chris was
    involved in electrophysiology and biomedical research at the Mayo Clinic.
</p>
<a name="sp11"></a>
<h2>
    Joel Levandoski
</h2>
<p>
    Joel Levandoski is a software engineer with over 30 years of experience. For the
    past 4 years he has been working as a contractor in the Twin Cities area specializing
    in .NET and automated software testing. Joel has written software testing systems
    for both Windows and Web applications using numerous testing frameworks including
    Fit/FitNesse, SpecFlow, WatiN and WebAii.
</p>
<p>
    Previous to his contract work, Joel was Vice President of Software Development and
    co- founder of Advanced Weighing Systems in Chippewa Falls, Wi. Prior to that, he
    was Chief CAD engineer in charge of printed circuit board CAD software for Cray
    Research and worked on the Cray-2, Cray-3 and Triton supercomputer systems. Joel
    received a Bachelor of Science degree in Applied Mathematics from the University
    of Wisconsin-Stout and a Masters in Software Engineering from the University of
    Minnesota. He lives in Menomonie, WI.
</p>
<a name="sp15"></a>
<h2>
    Rockford Lhotka
</h2>
<p>
    Rockford Lhotka is the creator of the popular CSLA .NET development framework, and
    is the author of numerous books, including Expert 2008 Business Objects. He is a
    Microsoft Regional Director and MVP, and a regular presenter at major conferences
    around the world. Rockford is the Principal Technology Evangelist for Magenic (<a href="http://www.magenic.com" target="_blank">www.magenic.com</a>), a company
    focused on delivering business value through applied technology and one of the nation's
    premiere Microsoft Gold Certified Partners. For more information go to <a href="http://www.lhotka.net"
                                                                              target="_blank">www.lhotka.net</a>.
</p>
<a name="sp16"></a>
<h2>
    Brian Hogan
</h2>
<p>
    Brian Hogan is an author, editor, trainer, speaker, musician, and web developer
    who loves to tinker with HTML5, CSS3, Ruby, and JavaScript. He coordinates the <a href="http://RailsMentors.org" target="_blank">RailsMentors.org</a> project which
    pairs people who want to learn about Ruby on Rails with experienced mentors. He's
    the author of "HTML5 and CSS3" and "Web Design For Developers" and consults. When
    not hacking on code or writing, he can be found improving his guitar chops or spending
    time with his daughters.
</p>
<a name="sp17"></a>
<h2>
    Baskin I. Tapkan
</h2>
<p>
    Baskin I. Tapkan works for Imation. Baskin is a technology evangelist and has been
    programming over 20 years starting with Turbo Pascal and QBasic . He has been coding
    in the .NET framework since its release and now focusing on the ASP.NET MVC and
    WCF Services. Prior to joining to Verifications Inc, he has been a software architect
    at Healthland, Inc., a consultant with Magenic, and a systems design engineer at
    Imation Corporation. He has over 12 years of industry experience in manufacturing,
    healthcare, education and consumer services working on various database driven applications.
    Baskin holds a Master's Degree in Electrical Engineering from Univ. of Wyoming.
</p>
<a name="sp18"></a>
<h2>
    Jon Homan
</h2>
<p>
    Jon Homan is an apprentice at Obtiva, where he has primarily worked on web applications
    using Ruby on Rails. Lately, he has been interested in NoSQL databases, automated
    testing, and software design principals. His non-software interests include sports,
    music, and reading.
</p>
<a name="sp19"></a>
<h2>
    Aaron Erickson
</h2>
<p>
    Aaron Erickson is a software developer/technology writer/agilist for ThoughtWorks,
    based out of Chicago, IL. His life's work is to help convert the human intellectual
    capital into results for companies that empower both the knowledge workers who produce
    software, and the people for whom that software is designed to serve. He frequently
    speaks at events such as DevTeach, TechEd, and .NET user groups - with a goal of
    furthering the exchange of ideas - be they technology contributions - or observations
    about the technology consulting business. He is the author of the book, "The Nomadic
    Developer", a career guide for technology consultants. He is a co-author of the
    upcoming "Professional F# 2.0". In his spare time he likes to buy random ingredients
    at the store and have "iron chef" night with his wife, play video games with his
    kids, and occasionally, log on to World of Warcraft where he has a level 80 Rogue
    named EffSharper on the Bloodscalp server.
</p>
<a name="sp20"></a>
<h2>
    Glenn Leifheit
</h2>
<p>
    Glenn Leifheit, CISSP, CSSLP is a Senior Security Architect at FICO. He has worked
    in developing, managing, architecting and securing large scale applications for
    over 15 years. His day is spent rolling out an Enterprise secure software development
    lifecycle and managing PCI requirements as well as secure software reviews. Glenn
    is active in the Technology community as the Co-Chair of (ISC)2 Application Security
    Advisory Board, President of TechMasters Twin Cities, as an active member of IASA
    (International Association of Software Architects) and OWASP (Open Web Application
    Security Project) as well as a regional speaker evangelizing secure software. Glenn's
    blog is located at <a href="http://www.glennleifheit.com" target="_blank">www.glennleifheit.com</a>.
</p>
<a name="sp21"></a>
<h2>
    Jeff Brand
</h2>
<p>
    Jeff Brand is a .NET Developer in Microsoft's Developer and Platform Group. Jeff
    assists customers in evaluating, developing and deploying applications built on
    the .NET Framework and the Microsoft platform. He has been with Microsoft for eleven
    years and has served in variety of roles including infrastructure consultant, e-commerce
    technology specialist, and enterprise technology advisor.
</p>
<a name="sp23"></a>
<h2>
    Donn Felker
</h2>
<p>
    Donn Felker is the founder of Agilevent, a agile and mobile software development
    company here in the Twin Cities. He has over 10 years of professional experience
    in various markets that include – entertainment, health, retail, insurance, financial,
    and real estate. He is the author of the best selling Android Application Development
    for Dummies and the Introduction to Android Development on TekPub.com. He is also
    a Microsoft ASP Insider, an MCTS in Web Client Development for .NET and is a certified
    ScrumMaster. He is the leader of the Twin Cities Developers Group. He presents and
    consultants on various topics ranging from architecture, development in general,
    agile practices and patterns & practices and of course, mobile. Follow Donn on twitter:
    <a href="http://www.twitter.com/donnfelker" target="_blank">@@donnfelker</a>or read
    his blog here: <a href="http://blog.donnfelker.com" target="_blank">http://blog.donnfelker.com</a>.
</p>
<a name="sp24"></a>
<h2>
    Bryan Anderson
</h2>
<p>
    Bryan is an up-and-coming .Net developer currently focused on building amazing,
    performant WPF and Silverlight applications. He's passionate about teaching other
    developers all of the things he's learned about building applications in the real
    world and learning their lessons in turn. Bryan is currently a full time employee
    at ILM Professional Services.
</p>
<a name="sp25"></a>
<h2>
    Jeffrey Byboth
</h2>
<p>
    Jeffrey works for Simacor as a consultant, and has been developing software for
    the past 12 years focusing on developing solutions in .Net over the past 6 years.
    He holds a Masters in Software Engineering from the University of St. Thomas.
</p>
<a name="sp26"></a>
<h2>
    Erik Mau
</h2>
<p>
    Erik Mau is an architect on the Innovation Team at Avtex (formerly Inetium). He
    brings a balance of .NET development, SharePoint platform expertise, and Dynamics
    CRM integration experience to architect business solutions for Avtex customers.
    He has over 10 years of experience on the Microsoft stack and has just recently
    started developing applications with Silverlight.
</p>
<a name="sp27"></a>
<h2>
    Brent Stineman
</h2>
<p>
    Brent is a Manager Consultant and National Solution lead for Windows Azure with
    Sogeti USA. His 18+ year career has spanned everything from the mainframe to mobile
    devices. He's been working with the Windows Azure platform for over two years and
    was selected as one of the first of the Microsoft MVP's for the Windows Azure platform.
</p>
<a name="sp28"></a>
<h2>
    Jim White
</h2>
<p>
    Jim White is the director of training, partner, and instructor with Intertech, Inc.
    He is co-author of Java 2 Micro Edition (Manning) and a frequent contributor to
    various journals and on-line magazines including recent articles at DevX.com. Jim
    also heads Intertech's Cloud Computing practice and is co-lead of the Windows Azure
    User Group (www.azureug.net), which is a national virtual user group of nearly a
    thousand members. He has twenty years of software development experience including
    time as a senior technical architect at Target Corporation.
</p>
<a name="sp29"></a>
<h2>
    David Boike
</h2>
<p>
    David is a solution architect at Inergize Digital in Bloomington. For 8 years he
    has been developing a variety of solutions in the .NET space, and tries to do so
    according to his mantra: "Build. Optimize. Make Awesome." Recently he has taken
    a particular interest in distributed systems architecture. David's blog can be found
    at <a href="http://www.make-awesome.com" target="_blank">www.make-awesome.com</a>.
</p>
<a name="sp30"></a>
<h2>
    David Boike
</h2>
<p>
    David is a solution architect at Inergize Digital in Bloomington. For 8 years he
    has been developing a variety of solutions in the .NET space, and tries to do so
    according to his mantra: "Build. Optimize. Make Awesome." Recently he has taken
    a particular interest in distributed systems architecture. David's blog can be found
    at <a href="http://www.make-awesome.com" target="_blank">www.make-awesome.com</a>.
</p>
<a name="sp31"></a>
<h2>
    Dave Stienessen
</h2>
<p>
    Dave Stienessen is a Senior Consultant for Magenic, a Microsoft Gold Partner consulting
    company. For 17 years, Dave has been developing and designing enterprise applications
    built with Microsoft technologies and working with .NET since its release in 2002
    and SQL Server since version 6. Currently Dave works with clients on enterprise
    application architecture, database design and architecture, and multi-tenant custom
    SaaS applications.
</p>
<a name="sp34"></a>
<h2>
    Kurt Christensen
</h2>
<p>
    Kurt Christensen has been paid to write code in a variety of different languages
    for a variety of different industries for the last 15 years. Since 2003, Kurt has
    also helped multiple companies transform their development processes using "agile"
    methods.
</p>
<a name="sp35"></a>
<h2>
    Keith Dahlby
</h2>
<p>
    Keith Dahlby is a .NET developer, language geek and C# MVP from Cedar Rapids, IA.
    He works as the technical lead at J&amp;P Cycles and blogs about various software
    development topics with Los Techies. Keith has spoken at community events around
    the midwest and studied Human-Computer Interaction at Iowa State University. His
    talks have been described as "terrific!", "very interactive!", and "the best I've
    seen all hour!"
</p>
<a name="sp36"></a>
<h2>
    Dan Chamberlain
</h2>
<p>
    Dan Chamberlain is an independent contractor working in the Twin Cities. His interests
    include Scala, concurrency, functional programming, and working on interesting problems.
</p>
<a name="sp37"></a>
<h2>
    Zach Mattson
</h2>
<p>
    Zach possesses over 10 years experience in the DBA industry, particularly working
    in development, administration and automation. He is currently the DBA team lead
    for a company in St. Paul, MN that sells toothbrushes, drugs and knee braces. In
    addition to this, Zach has shared his industry knowledge with the SQL community
    by publishing articles on SQLServerCentral.com and speaking at SQL Saturdays in
    Minnesota and Arizona.
</p>
<a name="sp38"></a>
<h2>
    Todd H. Gardner
</h2>
<p>
    Todd H. Gardner is a software developer and architect with over 5 years of professional
    experience in corporate and commercial system design and implementation. He is passionate
    about software development process and driving cloud platforms. Follow Todd on twitter:
    <a href="http://www.twitter.com/toddhgardner" target="_blank">@@toddhgardner</a>
    or find out more at <a href="http://www.toddhgardner.com/" target="_blank">http://www.toddhgardner.com/</a>.
</p>
<a name="sp39"></a>
<h2>
    Mike Hodnick
</h2>
<p>
    Mike Hodnick has been a developer in the Twin Cities area for over 12 years and
    currently works at Avtex in Bloomington, MN. He enjoys digging in to more obscure
    topics such as Silverlight digital audio synthesis and WPF 3D. At Avtex he has most
    recently developed apps for Kinect and WPF, Windows Phone 7, and Azure-based web
    sites with ASP.NET MVC. He also works with Judah Himango, who grooms Mike's llamas.
    Mike enjoys playing hockey, writing music, and playing Halo: Reach every Monday
    night #HaloReachMondays.
</p>
<a name="sp40"></a>
<h2>
    Vince Bullinger
</h2>
<p>
    Vince Bullinger is a Senior .Net Devloper with Anytime Fitness and has an MCSD for
    .NET with C# who's been developing with Microsoft technologies for over five years.
    In his spare time, he likes to work on the house and yard, work out, play video
    games and learn everything there is to know about everything.
</p>
<a name="sp41"></a>
<h2>
    Brian Hugh
</h2>
<p>
    Brian Hugh has been a consultant/systems integrator for the past 17+ years, implementing
    large enterprise solutions for companies in the Twin Cities. His company, Business
    Technology Solutions, focuses on both the business and technology aspects of an
    implementation project. His most famous project was the Revenue Control System/e-Park
    for the Mpls./St. Paul Int'l Airport. Technologies include Oracle, Microsoft and
    Open Source. Roles range from Application/Solution Architect, Analyst, Project Lead,
    DBA, and Developer. He recently has been exploring the mobile development arena
    on his own and with some of his clients.
</p>
<a name="sp42"></a>
<h2>
    Jon von Gillern
</h2>
<p>
    Jon is an IADNUG leader and consultant from West Des Moines, Iowa. He has been programing
    for the past 15 years and currently infatuated with writing WPF and Silverlight
    applications. Recently, Jon has created two tools that help .Net Developers write
    better code – Nitriq Code Analysis (<a href="http://www.nitriq.com" target="_blank">www.nitriq.com</a>)
    and Atomiq Duplicate Code Finder (<a href="http://www.getatomiq.com" target="_blank">www.getatomiq.com</a>).
</p>
<a name="sp43"></a>
<h2>
    Chris Black
</h2>
<p>
    Chris Black is a lead developer who focuses on building cross platform interactive
    content for mobile devices. His latest application runs on Android, iOS and the
    BlackBerry PlayBook without any change in code by utilizing Adobe AIR. Chris has
    spoken at a number of conferences both locally and internationally. He graduated
    from the University of Wisconsin – Eau Claire with a degree in Computer Science
    and covers a number of topics relating to mobile development on his blog, <a href="http://blackcj.com"
                                                                                 target="_blank">blackcj.com</a>.
</p>
<a name="sp44"></a>
<h2>
    Jon Stonecash
</h2>
<p>
    Jon Stonecash is a senior consultant at Magenic, a Microsoft Gold Partner consulting
    company. Jon Stonecash has worked in software development for much longer than he
    would like to admit. In that time Jon has had the opportunity to make most of the
    serious software development mistakes at least once. He has programmed in over a
    dozen languages including several different assembly languages, Fortran, COBOL,
    SNOBOL, classic Visual Basic, VB.NET, and C#. He has survived the structured programming
    revolution and the object-oriented revolutions. Jon's software development activities
    have included the development of operating systems, scientific and engineering applications,
    and enterprise systems. He has worked in every phase of software development from
    the initial specification of requirements through to customer support. Along the
    way, he picked up a BS in Mathematics and an MBA. He still has hopes of finding
    something that he can be reasonably good at. His long term interests center about
    databases and the aspects of the application that handle data access and business
    logic. He is also interested in the tools and processes that assist the development
    process. Jon can be reached at <a href="mailto:jons@magenic.com">jons@magenic.com</a>.
    Jon also has an active blog on "Designing Out Loud in the .NET Space" at <a href="http://blog.magenic.com/blogs/jons/default.aspx"
                                                                                target="_blank">http://blog.magenic.com/blogs/jons/default.aspx</a>.
</p>
<a name="sp45"></a>
<h2>
    Jason Strate
</h2>
<p>
    Jason Strate, Digineer Inc, is a database architect and administrator with over
    fifteen years of experience. He is a recipient of the Microsoft Most Valuable Professional
    (MVP) for SQL Server since July, 2009. His experience includes design and implementation
    of both OLTP and OLAP solutions as well as assessment and implementation of SQL
    Server environments for best practices, performance, and high availability solutions.
    Jason is a SQL Server MCITP and participated in the development of Microsoft Certification
    exams for SQL Server 2008. Jason enjoys helping others in the SQL Server community
    and does this by presenting at technical conferences and user group meetings. Most
    recently, Jason has presented at the SSWUG Virtual Conferences, TechFuse, numerous
    SQL Saturdays, and at PASSMN user group meetings. Jason is also a contributing author
    for the Microsoft white paper "Empowering Enterprise Solutions with SQL Server 2008
    Enterprise Edition." Jason is an active blogger with a focus on SQL Server and related
    technologies.
</p>
<a name="sp46"></a>
<h2>
    Kenny Goers
</h2>
<p>
    Kenny is a Mobile Architect with the ITR Group working with mobile platforms since
    1998. He has worked with Windows CE, Windows Mobile, Windows Phone, iPhones, iPads
    and Android extensively in that time.
</p>
<a name="sp47"></a>
<h2>
    Joshua Ramirez
</h2>
<p>
    Joshua has over 10 years experience as a software engineer and consultant. He's
    passionate about crafting highly integrated enterprise applications and service
    oriented systems. Joshua is currently a senior consultant with ILM Professional
    Services and has worked with firms across the Twin Cities such as General Mills,
    US Bank, Lender Processing Services, and others.
</p>
<a name="sp48"></a>
<h2>
    Brad Candell
</h2>
<p>
    Brad Candell is an application and web architect with IDEXX Laboratories in Eau
    Claire, WI. Brad has been developing software and web applications within the Microsoft
    Ecosystem over the past 15 years, now focusing primarily in C#, ASP.NET MVC, WPF,
    WCF, Windows Phone 7, Silverlight, and MEF. When not immersed in code, Brad enjoys
    spending time with his wife and three children, camping, restoring antiques, or
    making sawdust in his woodworking shop. Read more about Brad at <a href="http://www.BradCandell.com"
                                                                       target="_blank">www.BradCandell.com</a> and follow Brad on Twitter - <a href="http://www.twitter.com/bradcandell"
                                                                                                                                               target="_blank">@@bradcandell</a>.
</p>
