<h1>Spring 2014 - Speakers</h1>
<p>
    Here's the list of speakers that have submitted sessions. Note that the final list of selected speakers may not contain all of the speakers listed here.
</p>
<a name="sp1"></a>
<h2>
    John Culviner
</h2>
<p>
    John Culviner is a Principal consultant at ILM. He has been working with Angular.js for the past year, .NET for the past 6 and has been a JavaScript single page application guru for quite some time. John enjoys diving into new technology and finding ways to push the limits of the web. He is an author of the open source library <a href="https://github.com/AngularAgility/AngularAgility" target="_blank">AngularAgility</a> and enjoys sharing his development experiences on his <a href="http://johnculviner.com/" target="_blank">blog</a>.
</p>
<a name="sp2"></a>
<h2>
    Kevin Hakanson
</h2>
<p>
    <a href="http://about.me/kevin.hakanson" target="_blank">Kevin Hakanson</a>
    <a href="http://twitter.com/hakanson" target="_blank">(@@hakanson)</a> is an application architect for Thomson Reuters where he is focused on highly scalable web applications, especially the JavaScript and security aspects. His background includes both .NET and Java, but he is most nostalgic about Lotus Notes. He has been developing professionally since 1994 and holds a Master’s degree in Software Engineering. When not staring at a computer screen, he is probably staring at another screen, either watching TV or playing video games with his family.
</p>
<a name="sp3"></a>
<h2>
    Mike Hodnick
</h2>
<p>
    Mike is an independent software developer in the Twin Cities. He plays hockey and Kerbal Space Program, makes crème brûlée, and produces humanly organized sound with computers.
</p>
<a name="sp4"></a>
<h2>
    David Washington
</h2>
<p>
    David Washington is a Microsoft Technical Evangelist based in Minneapolis, MN. As the Microsoft Technical Evangelist, he works with students, startups and independent app developers in the Twin Cities and surrounding area who are interested or need help with Windows 8, Windows Phone and Windows Azure. For the past eight years he worked on User Experience in Windows. Most recently he worked as a Senior Program Manager Lead on Windows 8.1, leading a team of people designing the text suggestions UX and platform for the touch keyboard. Before that, he drove the end-to-end experience for how Windows 8 scales and adapts responsively across all screens sizes, from tablet to laptop to desktop, portrait and landscape and high pixel density screens.
</p>
<a name="sp5"></a>
<h2>
    James Greene
</h2>
<p>
    James Greene has an unabashed love for JavaScript that most corporate/enterprise engineers consider unhealthy. He is a Software Architect at <a href="http://ties.k12.mn.us/" target="_blank">TIES</a> where he is focused on creating web applications to improve the K-12 education system. His recent technical foci include JavaScript (including Meteor, Node.js, PhantomJS, RequireJS, AngularJS, etc.), HTML5, and REST-ful JSON-based services in ASP.NET MVC. He is co-organizer of the Twin Cities JavaScript user group JavaScriptMN. He also moonlights as an <a href="http://jquery.org/team/" target="_blank">official jQuery team member</a>, an HTML spec contributor, a core collaborator for several popular JavaScript-related projects (PhantomJS, QUnit, ZeroClipboard, jsUri, etc.), and an open source zealot in general. On the off occasion that he is not staring at a computer or smartphone screen (a rarity indeed), you will find him spending time with his amazing wife and adorable daughter, playing board games with friends, traveling abroad, hiking, or scuba diving. For more info, check out <a href="http://jamesgreene.net/" target="_blank">http://jamesgreene.net/</a>.
</p>
<a name="sp6"></a>
<h2>
    Dan Callahan
</h2>
<p>
    Dan Callahan is a senior engineer at Mozilla, where he hacks on Persona, a decentralized alternative to passwords on the web. You can find him at <a href="http://dancallahan.info" target="_blank">http://dancallahan.info</a>, or on twitter as @@callahad.
</p>
<a name="sp7"></a>
<h2>
    Vince Bullinger
</h2>
<p>
    Vince has been a passionate developer and consultant since 2005. He is currently an independent contractor. He received his MCSD for .NET with C# back in 2008. In recent years, he’s immersed himself in front end technologies. Even more recently, he’s developed a passion for mobile development, specifically of the cross-platform variety.
</p>
<a name="sp9"></a>
<h2>
    Matthew Renze
</h2>
<p>
    Matthew is a software consultant with over 14 years of professional experience building large-scale data-driven desktop, server, and web applications.  He is a graduate of Iowa State University with double degrees in Computer Science and Philosophy with a minor in Economics.  Matthew's current interests include data analytics, data visualization, and machine learning.  To learn more, please visit: <a href="http://www.matthewrenze.com" target="_blank">www.matthewrenze.com</a>.
</p>
<a name="sp10"></a>
<h2>
    Jake Good
</h2>
<p>
    I'm the founder of <a href="http://developstuff.com" target="_blank">DevelopStuff LLC</a>. I'm a ruby developer that loves to play with science, math, and gadgets. Previously, I was part of a startup called drop.io, acquired by Facebook. I live in Minneapolis with my wife, 2 dogs, and son. I'm a foodie, a gamer, and a car enthusiast.
</p>
<a name="sp11"></a>
<h2>
    Nate Young
</h2>
<p>
    Nathaniel Young is functional programmer expat, currently residing in the Kingdom of Nouns. He's written spools of client-side frontend code, as well as database query optimizers and just about everything in-between. He's precisely six foot three and three quarter inches tall, is terrible at home repairs, but good at integral calculus and refuses to believe that the two are related.
</p>
<a name="sp12"></a>
<h2>
    Nick Stevens
</h2>
<p>
    Nick Stevens is a software engineer who has worked mostly with embedded and mobile system development. For the past year he has been working on interfacing Android systems with custom hardware. Despite his professional leanings towards embedded Nick has a personal fascination with coding tools and ways of making the lives of fellow developers easier and more consistent. He lives in the Twin Cities with his wife and three cats. You can follow him at <a href="http://www.bitcurry.com" target="_blank">http://www.bitcurry.com</a>.
</p>
<a name="sp13"></a>
<h2>
    Jason Clifford
</h2>
<p>
    Jason Clifford is an automation engineer in the Twin Cities.  He recently spent 4 years at 3M automating a deployment on a Windows environment.  The last iteration was built using Chef.  He is currently consulting on a Puppet deployment.  When not developing he enjoys playing video and board games (most recent obsession being The Lord of the Rings LCG) and spending time with his wife, friends and cat.
</p>
<a name="sp14"></a>
<h2>
    Brad Broulik
</h2>
<p>
    Brad Broulik is an author, trainer, and principal web engineer specializing in enterprise mobile development at <a href="http://www.healthpartners.com" target="_blank">HealthPartners</a>. His recent book is <a href="http://www.apress.com/mobile/ios/9781430239666" target="_blank">Pro jQuery Mobile</a>.  He blogs at <a href="http://bradbroulik.blogspot.com" target="_blank">http://bradbroulik.blogspot.com</a> and tweets via <a href="http://twitter.com/BradBroulik" target="_blank">@@BradBroulik</a>.
</p>
<a name="sp15"></a>
<h2>
    Jason More
</h2>
<p>
    Jason consults on code in the Twin Cities and blogs at <a href="http://www.JasonMore.net" target="_blank">JasonMore.net</a>.
</p>
<a name="sp16"></a>
<h2>
    Todd H Gardner
</h2>
<p>
    Todd H Gardner is an independent software developer and entrepreneur, with over a decade of experience in development, design, and leadership. Todd holds a Masters in Management of Technology from the University of Minnesota.
</p>
<p>
    He is passionate about teams, communication, and quality in software and has led product teams from small businesses and major corporations.
</p>
<p>
    Todd is the co-founder of {Track:js}, an innovative JavaScript error logging service. He tweets at <a href="http://twitter.com/toddhgardner" target="_blank">@@toddhgardner</a>.
</p>
<a name="sp17"></a>
<h2>
    Richard Isaacson
</h2>
<p>
    Richard Isaacson (<a href="http://risaacson.github.io" target="_blank">risaacson</a>) thinks he has had a profession for the past fourteen years primarily within the Unix group at a large local e-commerce company. He made the internal jump to a development team before he left for a Support Engineer stint at a private cloud provider and then landed as a Senior Software Developer at <a href="http://ansible.com" target="_blank">Ansible</a> a provider of systems automation software. When not spending too much time with his computer he is working on showing his daughters the beauty in technology and dispelling the sense that computers are magic.
</p>
<a name="sp18"></a>
<h2>
    David Shepherd
</h2>
<p>
    David Shepherd is a software tools researcher, turned professional tools developer, turned software tools researcher and open source contributor. Inspired by Andi Marcus's research on "Google-ing source code" he's recently spent his time developing Sando, a free open source search extension for Visual Studio with over 5000 downloads. You'll also find him evangelizing the merits of better code search tools at conferences like devLink. He lives and works in the RTP area where he leads ABB's Software Engineering Research Group.
</p>
<a name="sp20"></a>
<h2>
    Kristina Durivage
</h2>
<p>
    Kristina Durivage is an independent computer-er based in Minneapolis. She runs the local D3.js meetup and helps run the local data visualization meetup and really dislikes writing bios. She can be found online at <a href="http://www.twitter.com/gelicia" target="_blank">@@gelicia</a>.
</p>
<a name="sp21"></a>
<h2>
    James McConnell
</h2>
<p>
    James McConnell is a .NET developer with over 8 years of development experience.  He has worked as a consultant developer all over the metro area and now works as a Senior Software Engineer with Wolters Kluwer Financial Services in St. Cloud, MN.  He is a father, husband, musician and geek; not necessarily in that order.
</p>
<a name="sp22"></a>
<h2>
    Chris Wilson
</h2>
<p>
    I have been fascinated by functional programming ever since reading "ANSI Common Lisp." Later, I was hooked by Clojure while working as a research science tech at Fermilab. Knowing that I had to follow up on my programming yearning, I went back to school to study up.
</p>
<p>
    I am now working at Bendyworks where I spend my 20% time blogging, and digging into Haskell.
</p>
<p>
    My personal blog is at: <a href="http://sencjw.com/" target="_blank">http://sencjw.com/</a> I post stuff that I speak about, work on, and other neat stuff.
</p>
<a name="sp23"></a>
<h2>
    Dan Nordquist
</h2>
<p>
    Dan Nordquist is a developer and architect at Magenic where he supports clients and their custom software needs. His background includes being one of the first people to help local companies set up websites (in 1994), and a development career through HTML, classic ASP, .NET, SQL, and management. He's spoken at other events about ASP.NET MVC, software estimation, personal productivity, and agile methodologies.
</p>
<a name="sp24"></a>
<h2>
    Robert Boedigheimer
</h2>
<p>
    Robert Boedigheimer works for Schwans Shared Services, LLC providing business solutions with web technologies and leads Robert Boedigheimer Consulting, LLC. Robert has been designing and developing web sites for the past 19 years including the early days of ASP and ASP.NET. He is a Pluralsight Author, an ASP.NET MVP, an author, and a 3rd degree black belt in Tae Kwon Do. Robert has spoken at industry conferences including VSLive, HDC, DevLink, DevTeach, Tulsa Tech Fest, DevWeek, DevReach, SDC, TechEd, DevConnections, AJAXWorld, and numerous national and international events.
</p>
<a name="sp25"></a>
<h2>
    Justin Wendlandt
</h2>
<p>
    Justin Wendlandt is a Senior Consultant at Magenic technologies (<a href="http://www.magenic.com" target="_blank">www.magenic.com</a>). He is an avid technologist who is passionate about computer science, security, usability and software patterns and practices. Professionally he focuses on using Microsoft technologies to solve business and enterprise problems. You can find out more information about him at <a href="http://www.jwendl.net/" target="_blank">http://www.jwendl.net/</a> or you can follow him on twitter <a href="http://twitter.com/jwendl" target="_blank">@@jwendl</a>.
</p>
<a name="sp26"></a>
<h2>
    Jenna Pederson
</h2>
<p>
    Jenna Pederson is an independent software developer based out of Minneapolis. She has worn a variety of hats in the development of building desktop software, web, and mobile applications. With experience from the front-end all the way down to the physical servers, from development to business analysis and testing, Jenna is a passionate developer who enjoys getting other developers excited about the technology and how to solve business problems.
</p>
<a name="sp27"></a>
<h2>
    Brian P. Hogan
</h2>
<p>
    <a href="http://bphogan.com/" target="_blank">Brian P. Hogan</a> is an author, editor, teacher, and web developer who’s been building web sites professionally since 1995 as a freelancer and consultant. His recent books include <a href="http://pragprog.com/titles/bhh52e" target="_blank">HTML5 and CSS3: Level Up With Todays Web Technologies</a>, <a href="http://pragprog.com/titles/bhtmux" target="_blank">tmux: Productive Mouse-Free Development</a> and <a href="http://pragprog.com/titles/wbdev" target="_blank">Web Development Recipes</a>. When not hacking on Ruby or JavaScript code, he’s <a href="http://bphogan.com/music" target="_blank">writing songs</a>, watching “The Simpsons,” and spending quality time with his wife and daughters.
</p>
<a name="sp28"></a>
<h2>
    John Urberg
</h2>
<p>
    John Urberg (<a href="http://twitter.com/jurberg" target="_blank">@@jurberg</a>) is an independent consultant in the Twin Cities. He has over two decades experience in the software field; working in all aspects of software development.  He is currently focusing on building e-commerce sites using Grails, JavaScript and JEE.
</p>
<a name="sp29"></a>
<h2>
    Kyle Boon
</h2>
<p>
    Kyle Boon is a Technology Lead for Bloom Health in Minneapolis, MN. He has been developing web applications professionally for 9 years including 3 in groovy. Kyle is passionate about building scalable, maintainable, robust software systems and having fun while doing so. When not programming he obsesses over Ohio State football, golfs poorly, and brews beer.
</p>
<a name="sp30"></a>
<h2>
    Scott Heckel
</h2>
<p>
    Scott Heckel is a consultant with OST (<a href="http://www.ostusa.com" target="_blank">www.ostusa.com</a>) in the Twin Cities working on a variety of different types of application development. In his free time he currently enjoys staying warm inside while listening to music, watching television and movies, and failing miserably in the Spelunky daily challenge. You can follow his cat pictures on Twitter at <a href="http://twitter.com/scottheckel" target="_blank">@@scottheckel</a>.
</p>
<a name="sp31"></a>
<h2>
    Lou Miranda
</h2>
<p>
    Lou Miranda is Mobile Practice Lead and Solutions Architect at Magenic Technologies (<a href="http://magenic.com/AboutMagenic/ThoughtLeadership/" target="_blank">http://magenic.com/AboutMagenic/ThoughtLeadership/</a>). He has over 25 years of experience architecting and executing enterprise software projects. Lou has been working exclusively with mobility since 2008, after gaining extensive experience in MS-DOS, OS/2, Windows, Java, and the Web. His experience covers all development platforms and device types.
</p>
<p>
    His leadership activities include coauthoring a 'bible' book on WebLogic Server, articles for technical and consumer magazines including Windows Tech Journal, OS/2 Magazine, J2EE Journal and was a contributing editor at PC World magazine.
</p>
<p>
    Lou appears as an in-demand speaker and panelist at industry and client mobility forums including Modern Apps Live!, Mobile March, the Enterprise Mobility Summit, the Minnesota Government IT Symposium, Twin Cities Code Camp, Code Mastery, iOS user groups.
</p>
<p>
    Lou blogs on enterprise mobile topics at <a href="http://www.LouMiranda.com" target="_blank">http://www.LouMiranda.com</a> and on the Magenic.com web site blog, and his enterprise mobile tweets can be followed <a href="http://twitter.com/TheNewLou" target="_blank">@@TheNewLou</a>.
</p>
<a name="sp32"></a>
<h2>
    Ken Korth
</h2>
<p>
    I’m a father of two kids, a front-end developer for Thomson Reuters, a former web design teacher, and fanboy of all things Japanese. I like to read books on design, web programming, and science fiction or fantasy. I grew up in Idaho, but have been calling Minnesota home since 1997 (much to my chagrin).
</p>
<a name="sp33"></a>
<h2>
    Eric Brandes
</h2>
<p>
    Eric Brandes is an independent software consultant and one of the co-founders of local Twin Cities start-up {Track:js}.  He’s been doing full stack web application development for over a decade.  He strongly believes in the simplest thing that could possibly work and failing fast.
</p>
<a name="sp34"></a>
<h2>
    Chris Johnson
</h2>
<p>
    Chris Johnson is a web developer and technology consultant living outside of Madison, Wisconsin. He has been developing websites professionally since 2003 when he got his first paycheck as a freelancer. He believes that software development is a craft and an art form, not a science. He enjoys crafting clean code and showing what he has accomplished no matter the tools and materials. When he's not developing he enjoys tinkering with technology and mechanical things, photography, video games, playing hockey along with spending time with his wife Laura, daughter Kenzie and their two dogs. Read his blog at <a href="http://blog.johnsonch.com/" target="_blank">http://blog.johnsonch.com/</a>.
</p>
<a name="sp35"></a>
<h2>
    Paul Timmerman
</h2>
<p>
    Paul Timmerman is a Microsoft SQL Server MVP and the Lead SQL Server DBA at Hennepin County Medical Center in Minneapolis, Minnesota. Paul has over thirteen years of experience in database administration and is a past Chapter Leader of the Minnesota SQL Server User Group, PASSMN. Paul is an active member of the PASS community and routinely speaks at user group meetings and SQL Saturday conferences.
</p>
<a name="sp36"></a>
<h2>
    Norton Lam
</h2>
<p>
    Norton Lam is a Java developer turned Android developer turned Google Glass developer.  He developed Java middleware for 15 years before turning to mobile 4 years ago.  By day he is a tech lead in the mobile practice at Magenic.  At night and on weekends, when he's not coaching his daughter's LEGO League team, he tinkers with new technologies like Google Glass.
</p>
