<h1>Spring 2015 - Speakers</h1>
<p>
    Here's the list of speakers that have submitted sessions. Note that the final list of selected speakers may not contain all of the speakers listed here.
</p>
<a name="sp1"></a>
<h2>
    Robert Boedigheimer
</h2>
<p>
    Robert Boedigheimer works for Schwans Shared Services, LLC providing business solutions with web technologies and leads Robert Boedigheimer Consulting, LLC. Robert has been designing and developing web sites for the past 20 years including the early days of ASP and ASP.NET. He is a Pluralsight Author, an ASP.NET MVP, an author, and a 3rd degree black belt in Tae Kwon Do. Robert has spoken at industry conferences including VSLive, SDD, HDC, DevLink, DevTeach, Tulsa Tech Fest, DevWeek, DevReach, SDC, TechEd, DevConnections, AJAXWorld, and numerous national and international events.
</p>
<a name="sp2"></a>
<h2>
    Matt Christian
</h2>
<p>
    Matt Christian is a full time programmer in a traditional job by day and indie game developer by night.  He has worked on many video game projects for over 10 years and holds both a Bachelors degree in Applied Mathematics and Computer Science: Software Development from the University of Wisconsin - Stout and an Associates degree in Information Technology - Programmer/Analyst from Northcentral Technical College.  In April 2014 he started Subject Matter Games, a small indie game studio in central Wisconsin who released their first game Don't Be Dinner in August.  Find out more about Matt and his projects at <a href="http://www.insidegamer.org" target="_blank">http://www.insidegamer.org</a> or more about subject matter games at <a href="http://www.submattergames.com" target="_blank">http://www.submattergames.com</a>.
</p>
<a name="sp3"></a>
<h2>
    Brian P. Hogan
</h2>
<p>
    Brian P. Hogan is a web developer, teacher, and musician who loves to hack on code and show other people how to make awesome things. He builds things with Ruby, JavaScript, and Elixir and tweets a lot as <a href="http://www.twitter.com/bphogan" target="_blank">@@bphogan</a>.
</p>
<a name="sp4"></a>
<h2>
    Ken Sykora
</h2>
<p>
    Ken is an ASP.NET developer that has been doing web development since HTML 1.0 when NCSA Mosaic was in its prime. He has intimate knowledge with numerous .NET Content Management Systems. As a developer, Ken has a specific focus on automation technologies and improving developer efficiency.
</p>
<a name="sp5"></a>
<h2>
    Jake Good
</h2>
<p>
    I'm the founder of <a href="http://developstuff.com/" target="_blank">DevelopStuff LLC</a>. I'm a ruby developer that loves to play with science, math, and gadgets. I live in Minneapolis with my wife, 2 dogs, and son. I love food, bourbon, my family, anything that moves humans.
</p>
