<h1>Spring 2012 - Speakers</h1>
<a name="sp1"></a>
<h2>
    Vince Bullinger
</h2>
<p>
    Vince Bullinger has been a passionate .Net developer and consultant since 2005.
    He has an MCSD for .NET with C#. In his spare time, he likes to do home projects,
    work out, play video games and learn everything there is to know about everything.
</p>
<a name="sp2"></a>
<h2>
    Robert Boedigheimer
</h2>
<p>
    Robert Boedigheimer works for Schwans Shared Services, LLC providing business solutions
    with web technologies and leads Robert Boedigheimer Consulting, LLC. Robert has
    been designing and developing web sites for the past 15 years including the early
    days of ASP and ASP.NET. He is a columnist for aspalliance.com, a Pluralsight Author,
    an ASP.NET MVP, an author, a MCPD: ASP.NET 3.5, and a 3rd degree black belt in Tae
    Kwon Do. Robert has spoken at industry conferences including VSLive, Heartland Developers
    Conference, DevLink, DevTeach, Tulsa Tech Fest, DevWeek, DevReach, SDC, TechEd,
    DevConnections, AJAXWorld, and numerous national and international events.
</p>
<a name="sp4"></a>
<h2>
    Mike Hodnick
</h2>
<p>
    Mike Hodnick is an independent consultant in the Twin Cities and has worked as a
    software developer for over 13 years. He has a deep background in .NET programming
    with C# and has always had a passion for web development. Most recently in his spare
    time he has been programming with digital audio synthesis libraries in JavaScript.
    If Mike isn't coding audio apps, he's probably playing pick-up hockey, Rock Band,
    Halo, Minecraft, or baking a chocolate soufflé. Mike is currently working on a playable
    Rock Band 3 game version of the Twin Cities Code Camp Theme Song.
</p>
<a name="sp5"></a>
<h2>
    James Greene
</h2>
<p>
    James Greene is a Lead Software Engineer for <a href="http://thomsonreuters.com/"
                                                    target="_blank">Thomson Reuters</a> where he is focused on highly scalable web
    applications. His recent technical foci include JavaScript, HTML5, .NET (mainly
    REST-ful JSON-based services in ASP.NET MVC), and Android. He has been developing
    professionally since 2006 and holds a Master's degree in Software Engineering. On
    the off occasion that he is <i>not</i> staring at a computer or smartphone screen
    (a rarity indeed), you will find him spending time with his family, traveling abroad,
    playing board games, hiking, or scuba diving. For more info, check out: <a href="http://about.me/James.M.Greene"
                                                                               target="_blank">http://about.me/James.M.Greene</a>.
</p>
<a name="sp6"></a>
<h2>
    Wade Schultz
</h2>
<p>
    Wade is an MD/PhD candidate at the University of Minnesota and has 10 years of software
    development experience in computational biology and web technologies. With a focus
    on healthcare IT, his current interests include managing large data sets, such as
    imaging and genetic sequencing information, and the interoperability of healthcare
    information systems using standards-based web services.
</p>
<a name="sp7"></a>
<h2>
    Brent Nelson
</h2>
<p>
    Brent has 14+ years of software development and IT experience in a variety of fields
    including health care, finance, and manufacturing. His expertise is in large, distributed,
    Internet-based information systems and his interest is in the intersection of technology
    and healthcare. Brent Nelson graduated from the University of Minnesota Medical
    School in 2011 and acts as President and Chief Medical Information Officer for AgileMedicine,
    a healthcare IT startup in Minneapolis.
</p>
<a name="sp8"></a>
<h2>
    Brian Repko
</h2>
<p>
    Brian Repko is a Twin Cities independent consultant and trainer. He is also a contributor
    to JBehave.
</p>
<a name="sp9"></a>
<h2>
    Brian Hogan
</h2>
<p>
    Brian P. Hogan is an author, editor, trainer, and web developer who's been building
    web sites professionally since 1995 as a freelancer and consultant. His recent books
    include <a href="http://pragprog.com/titles/bhh5" target="_blank">HTML5 and CSS3</a>
    and <a href="http://pragprog.com/titles/wbdev" target="_blank">Web Development Recipes</a>.
    He enjoys teaching and writing about technology, particularly web design, accessibility,
    and development. When not hacking on Ruby or JavaScript code, he's writing songs,
    watching "The Simpsons," or spending quality time with his wife and daughters.
</p>
<a name="sp10"></a>
<h2>
    Mohammad Faridi
</h2>
<p>
    Mohammad Faridi is an independent consultant in the twin cities. He has been working
    in the .NET arena since it came out. Mohammad has a passion for technology, especially
    mobile and cloud. When he is not working, he is obsessing about cars.
</p>
<a name="sp11"></a>
<h2>
    Brandy Favilla
</h2>
<p>
    Brandy is an experienced Marketing, Community and Communications Manager, Social
    Media Leader, Volunteer, Presenter and Educator with over 11 years of corporate
    experience. She has extensive experience in public relations, public speaking and
    marketing strategies while relationship building with colleagues, clients and across
    organizations and teams to exceed business goals. Brandy has her BS in Education
    and will earn her MBA with a marketing and HR emphasis in 2012.
</p>
<a name="sp12"></a>
<h2>
    Chris Johnson
</h2>
<p>
    Chris Johnson is a web developer and technology consultant living outside of Madison,
    Wisconsin. He has been developing websites professionally since 2003 when he got
    his first paycheck as a freelancer. When he's not developing, he enjoys tinkering
    with technology and mechanical things, photography, video games, playing hockey
    and spending time with his wife and their two dogs.
</p>
<a name="sp13"></a>
<h2>
    Mike Marshall
</h2>
<p>
    Mike Marshall is a software developer and Lead Architect at MorphoTrust - a local
    biometrics company that specializes in face, fingerprint and iris recognition systems.
    Mike has been developing software for over 15 years and started dabbling in Android
    development 2 years ago. He has published one application to the Android Market
    and has another in the pipeline. He can be found online at <a href="http://mike-marshall.net"
                                                                  target="_blank">http://mike-marshall.net</a> or <a href="http://www.twitter.com/MustGolf"
                                                                                                                     target="_blank">@@MustGolf</a> on Twittter.
</p>
<a name="sp14"></a>
<h2>
    Brad Broulik
</h2>
<p>
    Brad Broulik is an author and senior developer specializing in enterprise mobile
    development at <a href="http://www.healthpartners.com/" target="_blank">HealthPartners</a>.
    Prior to mobile development he was the lead software architect at a financial services
    organization. His recent book is <a href="http://www.apress.com/mobile/ios/9781430239666"
                                        target="_blank">Pro jQuery Mobile</a> and he blogs regularly at <a href="http://bradbroulik.blogspot.com"
                                                                                                           target="_blank">http://bradbroulik.blogspot.com</a>.
</p>
<a name="sp15"></a>
<h2>
    Jason Bock
</h2>
<p>
    Jason Bock is a Principal Consultant for <a href="http://www.magenic.com" target="_blank">
        Magenic
    </a> and a Microsoft MVP (C#). He has worked on a number of business applications
    using a diverse set of substrates and languages such as C#, .NET, and Java. He is
    the author of "Applied .NET Attributes", "CIL Programming: Under the Hood of .NET",
    and the forthcoming "Metaprogramming in .NET". He has written numerous articles
    on software development issues and has presented at a number of conferences and
    user groups. He is a leader of the <a href="http://www.twincitiescodecamp.com" target="_blank">
        Twin Cities Code Camp
    </a> and the Twin Cities Windows 8 User Group. Jason holds
    a Master's degree in Electrical Engineering from Marquette University. Visit his
    web site at <a href="http://www.jasonbock.net" target="_blank">http://www.jasonbock.net</a>.
</p>
<a name="sp16"></a>
<h2>
    Barry S. Stahl
</h2>
<p>
    Barry is a .NET software engineer, Election Integrity Activist, baseball and hockey
    fan, husband of one genius and father of another, and is a nearly 30 year Phoenix
    resident. Barry spends his days building integrated systems for Crew Operations
    at US Airways and his nights thinking about the next <a href="http://azgivecamp.org/"
                                                            target="_blank">AZGiveCamp</a>. You can follow Barry on Twitter <a href="https://twitter.com/#!/bsstahl"
                                                                                                                               target="_blank">@@bsstahl</a> or read his blog at <a href="http://www.cognitiveinheritance.com"
                                                                                                                                                                                    target="_blank">http://www.cognitiveinheritance.com</a>.
</p>
<a name="sp17"></a>
<h2>
    Joshua Ramirez
</h2>
<p>
    Joshua has 12 years experience in .NET Software Development and is currently a Principle
    Consultant at ILM Services. He's passionate about developing, designing, and integrating
    enterprise class systems through service oriented principles. Recent work has included
    building distributed and enterprise systems at Ally Financial (GMAC), General Mills,
    Lender Processing Services, and other firms across the Twin Cities. Joshua can be
    found on twitter at <a href="https://twitter.com/#!/joshuaRam" target="_blank">@@JoshuaRam</a>.
</p>
<a name="sp18"></a>
<h2>
    Aaron Erickson
</h2>
<p>
    Aaron is a veteran technology consultant, writer, and developer at ThoughtWorks.
    He is the author of "The Nomadic Developer" and most recently a co-author of "Professional
    F# 2.0". His life's work is helping organizations better leverage technology by
    contributing to solutions that have substantial positive economic impact for his
    clients. He is an enthusiast of agile software development and continuous delivery.
    He is also an "armchair economist" with lots of unfounded opinions on the topic,
    a deeply mediocre skier, and has an XBOX 360 GamerScore well approaching 15,000.
</p>
<a name="sp19"></a>
<h2>
    Chad Kulesa
</h2>
<p>
    Chad Kulesa is an Enterprise Architect at Verifications, Inc., and has been developing
    software professionally for 14+ years. In that time he's worked with C#, Java, JavaScript,
    Perl, C/C++, as well as several other specialized languages. Chad enjoys learning
    new technologies, especially technologies that make developers more productive.
    He tries to follow the rule, "As simple as possible, but no simpler" when designing
    software. When not coding, Chad spends most of his time with his wife and 4 children.
</p>
<a name="sp20"></a>
<h2>
    Matt Ronge
</h2>
<p>
    Matt Ronge is an iOS consultant who has been programming in Objective-C since the
    early days of Mac OS X. Matt has built and worked on numerous Mac apps and for the
    last two years he's been focused on iOS apps. Matt spent a couple years doing web
    development in Java and Python but found he enjoys mobile development more. When
    not programming you might find Matt hanging out at home with his fiancee, fishing,
    reading non-fiction or collecting NES games. He can be found online at <a href="http://www.mronge.com"
                                                                              target="_blank">http://www.mronge.com</a> or on Twitter as <a href="http://www.twitter.com/mronge"
                                                                                                                                            target="_blank">@@mronge</a>.
</p>
<a name="sp21"></a>
<h2>
    Jeff Brand
</h2>
<p>
    Jeff Brand is a .NET Developer in Microsoft's Developer and Platform Group. Jeff
    assists customers in evaluating, developing and deploying applications built on
    the .NET Framework and the Microsoft platform, with a current focus on Windows Phone
    and Windows 8. He has been with Microsoft for sixteen years and has served in variety
    of roles including infrastructure consultant, e-commerce technology specialist,
    and enterprise technology advisor.
</p>
<a name="sp22"></a>
<h2>
    Nick Schweitzer
</h2>
<p>
    Nick Schweitzer is a Milwaukee Area Software Consultant with more than 12 years
    of experience, and currently is a Surgeon at SpiderLogic. He's worked with and for
    several Milwaukee area consulting companies, with clients ranging from medium size
    firms, to Fortune 500 companies. He sometimes blogs at The Coding Monkey (<a href="http://www.thecodingmonkey.net"
                                                                                 target="_blank">http://www.thecodingmonkey.net</a>) and is active on Twitter
    (@@CodingMonkeyNet).
</p>
<a name="sp23"></a>
<h2>
    J Wynia
</h2>
<p>
    J Wynia is a software consultant, writer and geek who lives in Minneapolis, MN with
    his wife and 2 basset hounds. He's been solving business problems with software
    for 10+ years. When not at the keyboard, he enjoys brewing beer, cider, wine and
    mead as well as tending to his backyard smoker, turning out tasty BBQ.
</p>
<a name="sp24"></a>
<h2>
    Rich Dudley
</h2>
<p>
    For an entire decade, Rich inhabited cubicles at several companies in the same office
    park, eventually leading a team of developers building data warehouses, web-based
    BI applications and integrating mission critical systems. Today, as a Technical
    Evangelist for ComponentOne, Rich travels the country sharing new technologies with
    an eye toward the usefulness of these technologies to the poor souls still in their
    cubicles. Rich has been working with Azure since the early beta days, with Windows
    Phone 7 since before you could leave one in a bar, and is co-author of "Microsoft
    Azure: Enterprise Application Development" from Packt Publishing (<a href="http://bit.ly/msazurebook"
                                                                         target="_blank">http://bit.ly/msazurebook</a>). Follow Rich's blog at <a href="http://c1.ms/c1_richd"
                                                                                                                                                  target="_blank">http://c1.ms/c1_richd</a>, or on Twitter at <a href="http://twitter.com/#!/rj_dudley"
                                                                                                                                                                                                                 target="_blank">http://twitter.com/#!/rj_dudley</a>.
</p>
<a name="sp25"></a>
<h2>
    Jeff Klawiter
</h2>
<p>
    Jeff Klawiter is currently a Senior .NET Developer at The Nerdery. There he works
    on a wide variety of .NET applications. From HTML 5 ASP.NET MVC websites, to interactive
    Touch Screen WPF apps with Kinect. In his spare time he maintains the Html Agility
    Pack open source project and works on various other applications. Visit his website
    at <a href="http://blog.j-maxx.net" target="_blank">http://blog.j-maxx.net</a>.
</p>
<a name="sp26"></a>
<h2>
    John Urberg
</h2>
<p>
    John Urberg is an Applications Architect at Nash Finch Company focusing on building
    JEE applications using IBM's WebSphere application server. John has two decades
    of experience in all areas of software development including managing developers,
    introducing and running Agile processes, gather requirements, developing use cases,
    defining architecture, object and database design, development, support and training
    developers.
</p>
<a name="sp27"></a>
<h2>
    Lee Brandt
</h2>
<p>
    Lee has been programming professionally for more than a decade and currently works
    as a Project Lead Consultant with AdventureTech. He speaks regionally about software
    development practices and has mentored teams on improving their approach to lean
    software development through achieving technical proficiency. He is a Microsoft
    Most Valuable Professional, one of the leaders of the Kansas City .Net User Group,
    and serves as the Regional Mentor for .Net user groups in Kansas and Missouri.
</p>
<a name="sp28"></a>
<h2>
    Brent Edwards
</h2>
<p>
    Brent Edwards is a Senior Consultant for <a href="http://www.magenic.com" target="_blank">
        Magenic
    </a>, a Microsoft Gold Partner consulting company. He is an accomplished
    software developer, architect, mentor and speaker with over 7 years of experience
    in developing innovative solutions with Microsoft technologies. Brent has worked
    on projects ranging from ASP.NET MVC with C# and jQuery to WPF with VB.NET. He is
    also the author of MVVM Fabric (<a href="http://mvvmfabric.com/" target="_blank">http://mvvmfabric.com/</a>),
    a free MVVM framework for WPF. In his spare time, Brent develops applications for
    the Android platform. His apps have over two million downloads and he was selected
    by Google as a Top Android Developer for their Device Seeding Program. When not
    cranking out code, you can find him hanging out with his wife and four kids or riding
    his wakeboard, snowboard or mountain bike. Check out his blog at <a href="http://brentedwards.net"
                                                                        target="_blank">http://brentedwards.net</a>.
</p>
<a name="sp29"></a>
<h2>
    Kevin Gisi
</h2>
<p>
    Kevin is a Ruby and JavaScript guy, currently working as a senior interactive developer
    at <a href="http://roundarch.com/" target="_blank">RoundarchIsobar</a>, a user experience
    and digital media company. He recently moved to Manhattan after working as a consultant
    in northwest Wisconsin, where he co-founded the Eau Claire Ruby User Group. Kevin
    has spoken at code camps and conferences on development practices, contributed to
    many open-source projects (including maintaining the JSpec testing framework), and
    co-organizing the 2010 Rails Rumble international web competition - a key component
    of the Ruby on Rails ecosystem. You can get in touch with him via <a href="mailto:kevin@kevingisi.com">
        email
    </a>, the <a href="http://www.kevingisi.com/" target="_blank">web</a>, or
    <a href="http://twitter.com/gisikw" target="_blank">twitter</a>.
</p>
<a name="sp30"></a>
<h2>
    Avonelle Lovhaug
</h2>
<p>
    Avonelle Lovhaug escaped the corporate grind in 2003. Since then she's been running
    <a href="http://www.codepoetrysoftware.com/" target="_blank">Code Poetry</a>, her
    freelance programming venture serving tech savvy small businesses in the Twin Cities.
    Avonelle lives just outside St. Paul with her husband, and after raising two geek
    sons with careers in tech-related fields, she's done her part for future generations.
    She'd tell you how long she's been working with computers, but her age is classified.
    Avonelle writes about going freelance at <a href="http://www.IndyCoding.com" target="_blank">
        www.IndyCoding.com
    </a>.
</p>
<a name="sp31"></a>
<h2>
    Greg Levenhagen
</h2>
<p>
    Greg Levenhagen has been designing and developing enterprise solutions and leading
    projects for a variety of businesses for over 10 years. He has worked on a diverse
    set of platforms using many different tools. He is a true enthusiast of computer
    science, with passions and interests including mobile, cloud, architecture, parallel,
    testing, agile, UX, 3D/games, languages and much more. Greg is a Senior Software
    Engineer with Skyline Technologies, Board member of the Fox Valley .NET User's Group,
    cofounder of the Northeast WI Agile User’s Group, INETA speaker, IEEE member, ACM
    member, substitute professor and a PhD student. Along with being a life-long geek,
    Greg enjoys golfing, football, woodworking, philosophy and stimulating conversation.
</p>
<a name="sp32"></a>
<h2>
    Jason More
</h2>
<p>
    Jason More is a software developer in the Twin Cities, currently consulting for
    ILM Professional Services. He likes building awesome applications.
</p>
<a name="sp33"></a>
<h2>
    Joe Mayo
</h2>
<p>
    Joe Mayo is an author and independent consultant. His multiple books include C#
    Unleashed/Sams and LINQ Programming/McGraw-Hill. Joe's latest book is Microsoft
    Visual Studio 2010: A Beginner's Guide: McGraw-Hill. Joe has several industry certifications
    and has been consulting, teaching, and writing for several years. For his community
    contributions, Microsoft has awarded Joe with several Most Valuable Professional
    (MVP) awards.
</p>
<a name="sp34"></a>
<h2>
    Judah Himango
</h2>
<p>
    Judah's a nerd who loves writing code, giving tech talks, and playing guitar. He
    <a href="http://debuggerdotbreak.wordpress.com/" target="_blank">
        predicts technology
        futures on his tech blog
    </a> and <a href="http://judahgabriel.blogspot.com/" target="_blank">
        pontificates on Messianic Judaism on his personal blog
    </a>. His personal software
    projects are often a fusion of the two. He's the author of <a href="http://messianicradio.com/"
                                                                  target="_blank">the most popular Messianic Jewish radio</a> on the web, as well
    as <a href="http://messianicchords.com/" target="_blank">
        the best Messianic Jewish
        lyrics & chords site
    </a>. He works for <a href="http://avtex.com/" target="_blank">
        Avtex
    </a>, <a href="http://3m.com/vas" target="_blank">writes</a> <a href="http://solutions.3m.com/wps/portal/3M/en_US/DigitalMarketingSystem_NA/home/"
                                                                    target="_blank">software</a> for 3M, and regularly infuses llamas and rage
    comics into his presentations.
</p>
<a name="sp35"></a>
<h2>
    Andy Pickett
</h2>
<p>
    Andy is a journeyman coder, trying to hone his craft and suck less every day. He
    is lead game designer for QONQR, The GeoSocial game of World Domination! He bought
    his first Apple ][e at 14 and taught himself BASIC by hand coding game programs
    out of PC magazines, and was on his server's first Onyxia kill (non-WoW nerds please
    move along). Professionally Andy has been a Software Developer, predominantly in
    the Microsoft space, for over 10 years. He has lead a variety of successful development
    teams at major Retail, Financial, and State Government clients. Andy is an avid
    Community Organizer and has a drive to help other developers to master their craft
    as well. He Co-Leads the Twin Cities .Net User Group and helps run local conferences
    like the Minnesota Developer's Conference and Twin Cities Code Camp. <a href="http://www.twitter.com/apickett"
                                                                            target="_blank">@@apickett</a> <a href="http://www.twitter.com/qonqr" target="_blank">
        @@qonqr
    </a>.
</p>
<a name="sp36"></a>
<h2>
    Ananth Balasubramaniam
</h2>
<p>
    Ananth Balasubramaniam is a graphics/language/parallel-computing geek who has written
    more rendering engines than he can keep track of (although not always for games).
    He loves C# and the .NET framework deeply and has done things with it that are completely
    off the beaten track. If you want to waste several hours of your time, you only
    need tell him that something can't be done with C#/.NET and he will lecture you
    on how it is, indeed, possible.
</p>
<a name="sp37"></a>
<h2>
    Kevin Hakanson
</h2>
<p>
    Kevin Hakanson is an application architect for Thomson Reuters where he is focused
    on highly, scalable web applications. His background includes both .NET and Java,
    but he is most nostalgic about Lotus Notes. He has been developing professionally
    since 1994 and holds a Master’s degree in Software Engineering. When not staring
    at a computer screen, he is probably staring at another screen, either watching
    TV or playing video games with his family.
</p>
<a name="sp38"></a>
<h2>
    Chris Black
</h2>
<p>
    Chris Black is a lead developer and the owner of Blacktop Interactive, LLC in Minneapolis.
    He focuses on building cross platform mobile applications using the open source
    Apache Flex SDK. He has apps in the iOS, Android and BlackBerry markets. Chris has
    spoken at many interactive conferences including FITC, Flash on the Beach and MN.swf
    Camp. When he is away from his computer, he enjoys rock climbing, kayaking and snowboarding
</p>
<a name="sp39"></a>
<h2>
    Adam Ranfelt
</h2>
<p>
    Adam Ranfelt is a Client-Side Developer who focuses on C++, Javascript, and Objective-C.
    As a computer graphics enthusiast, Adam has worked on projects ranging from interactive
    OpenGL scenes to image manipulation engines. Adam currently works at The Nerdery
    where he works on a multitude of client-side projects. When he's not developing,
    Adam can be found practicing kata or playing video games.
</p>
<a name="sp40"></a>
<h2>
    Aaron Wallestad
</h2>
<p>
    Aaron Wallestad is an Associate Consultant with Magenic. He is a passionate developer
    focused on web implementations and has recently acquired a love of single page applications
    leveraging Javascript. In his non-coding hours, Aaron enjoys gaming in many medias
    including computer, board, card and pen and paper.
</p>
<a name="sp41"></a>
<h2>
    Matt Milner
</h2>
<p>
    Matt is a consultant, trainer and speaker focused on Microsoft development technologies.
    For the past six years Matt has been recognized by Microsoft as an MVP for Connected
    Systems. Providing hands on design and development expertise with integration, web
    services, workflow and web development has exposed him to the challenges customers
    face. Spending over seven years instructing and mentoring other developers has taught
    him how to communicate to developers how to face those challenges with technology.
    In addition to speaking at national and international conferences, Matt has contributed
    to several books, MSDN Magazine, and is a prolific author of online video training
    for Pluralsight.
</p>
<a name="sp42"></a>
<h2>
    Todd H. Gardner
</h2>
<p>
    Todd H. Gardner is an independent software developer and coach in the Minneapolis-St.
    Paul area. He strongly advocates that a passionate team is at the heart of software
    success. He promotes testable design, agile development, and lean products. Todd
    is the founder of WocketWare LLC, an agile software consultancy.
</p>
<a name="sp43"></a>
<h2>
    Jenna Pederson
</h2>
<p>
    Jenna Pederson is a lifetime resident of the Twin Cities area. She is an independent
    software engineering consultant focusing on agile development. Over the last ten
    years, she has played a number of roles in the development of building multi-tier
    applications for both the web and desktop. With experience from the front-end all
    the way down to the physical servers, from development to business analysis and
    testing, Jenna is a passionate developer who enjoys getting other engineers excited
    about the technology and how to solve business problems.
</p>
<a name="sp44"></a>
<h2>
    Allen Sanborn
</h2>
<p>
    Allen works for a living but would rather be out riding bikes. He's spent the last
    6 years working for Avanade as a software development consultant focusing primarily
    on web development on the .NET platorm. He left the Twin Cities last year and moved
    to Duluth since the winters down south are just too mild (that and his wife got
    a job there).
</p>
<a name="sp45"></a>
<h2>
    Tommy Davis
</h2>
<p>
    Tommy Davis is a 3rd grader who started Python programming when he was 7 and switched
    to C# when he was 8, using Visual Studio and Expression Blend to build his Windows
    Phone application. Ask him anything about Star Wars or Legos or Star Wars Legos.
</p>
<a name="sp46"></a>
<h2>
    Scott Davis
</h2>
<p>
    Scott Davis is a long time consultant that has been developing Silverlight applications
    for the web and Windows Phone for the past few years. He is an adjunct professor
    in the Information Technology Masters program at St Mary's University. Currently
    Scott is the CEO and co-founder of QONQR, a startup mobile gaming company in Minneapolis.
    QONQR is the geo-social game of world domination, leveraging Azure for the cloud
    services platform, with native clients for Windows Phone, iPhone, and Android.
</p>
<a name="sp47"></a>
<h2>
    Keith Dahlby
</h2>
<p>
    Keith Dahlby is a new father, web developer, Git enthusiast, language geek and C#
    MVP from Cedar Rapids, IA. He leads the E-Commerce team at J&amp;P Cycles and blogs
    about various software development topics with Los Techies. His open source efforts
    include posh-git, a Git environment for PowerShell, and FSRazor, F# support for
    the Razor view engine. Keith has spoken at community events around the Midwest and
    he studied Human-Computer Interaction at Iowa State University. His talks have been
    described as "terrific!", "very interactive!", and "the best I've seen all hour!".
</p>
<a name="sp48"></a>
<h2>
    Rockford Lhotka
</h2>
<p>
    Rockford Lhotka is the CTO of Magenic, and is the creator of the widely used CSLA
    .NET development framework. He is the author of numerous books, and regularly speaks
    at major conferences around the world. Rockford is a Microsoft Regional Director
    and MVP. Magenic (<a href="http://www.magenic.com" target="_blank">www.magenic.com</a>)
    is a company that specializes in planning, designing, building and maintaining your
    enterprise's most mission critical systems. For more information go to <a href="http://www.lhotka.net"
                                                                              target="_blank">www.lhotka.net</a>.
</p>
