<h1>Event</h1>
<p>
    TCCC18 will happen on April 25th, 2015. The location for the event is Rapson Hall (note that signs west of Rapson say "89 Church St. S. E."):
</p>
<p>
    University of Minnesota - Rapson Hall<br />
    81 SE Church St<br />
    Minneapolis, MN 55455<br />
</p>
<div id="mapviewer"><iframe id="map" scrolling="no" width="500" height="400" frameborder="0" src="http://www.bing.com/maps/embed/?v=2&amp;cp=44.976318~-93.233767&amp;lvl=16&amp;sty=r&amp;q=81%20SE%20Church%20St%2C%20Minneapolis%2C%20MN%2055455&amp;form=LMLTEW&amp;emid=3bd53cca-2be2-1f4f-1b13-651f676c39ab"></iframe><div id="LME_maplinks" style="line-height:20px;"><a id="LME_largerMap" href="http://www.bing.com/maps/?v=2&amp;cp=44.976318~-93.233767&amp;lvl=16&amp;sty=r&amp;q=81%20SE%20Church%20St%2C%20Minneapolis%2C%20MN%2055455&amp;form=LMLTEW" target="_blank" style="margin:0 7px">View Larger Map</a><a id="LME_directions" href="http://www.bing.com/maps/?v=2&amp;cp=44.976318~-93.233767&amp;lvl=16&amp;sty=r&amp;q=81%20SE%20Church%20St%2C%20Minneapolis%2C%20MN%2055455&amp;form=LMLTEW&amp;rtp=%7Epos.44.97631810605527_-93.23376707732677_" target="_blank" style="margin:0 7px">Driving Directions</a></div></div>
<iframe width="560" height="315" src="http://www.youtube.com/embed/L1Q1gw8fhUE?rel=0"
        frameborder="0" allowfullscreen></iframe>
