<h1>Information</h1>
<p>
    The Twin Cities Code Camp is biannual event held in the Twin Cities area. It follows
    the guidelines published in the Code Camp <a href="http://blogs.msdn.com/trobbins/archive/2004/12/12/280181.aspx">manifesto</a>. As this is a community-driven event, we are always looking for
    people to lead sessions, volunteer to help during the day of the event, etc. If
    you'd like to participate, or if you'd like to contribute to the event, <a href="mailto:tccodecamp@gmail.com">let us know</a>.
</p>
<h2>
    Leadership Team
</h2>
<ul>
    <li>Jason Bock</li>
    <li>Brandy Favilla</li>
    <li>Judah Himango</li>
    <li>Mike Hodnick</li>
</ul>
<h2>
    Relevant Links
</h2>
<ul>
    <li><a href="http://www.twitter.com/tccodecamp" target="_blank">Twitter</a></li>
    <li><a href="http://www.youtube.com/twincitiescodecamp" target="_blank">YouTube</a></li>
    <li><a href="http://tcccshirts.tumblr.com/" target="_blank">Geek Shirts</a></li>
    <li><a href="http://www.twitter.com/tccodecamp" target="_blank">Twitter</a></li>
    <li><a href="http://www.facebook.com/group.php?gid=7828067259" target="_blank">Facebook</a></li>
</ul>
