<h1>Spring 2015 - Schedule</h1>
<p>
    Note: The schedule is subject to change up until the day of the event.
</p>
<h2>
    Saturday, 4/25
</h2>
<table border="1" align="center">
    <thead align="center">
        <tr>
            <td>
                Time
            </td>
            <td>
                Rapson 100    
            </td>
            <td>
                Rapson 31
            </td>
            <td>
                Rapson 43
            </td>
            <td>
                Rapson 45
            </td>
            <td>
                Rapson 54
            </td>
            <td>
                Rapson 56
            </td>
            <td>
                Rapson 58
            </td>
        </tr>
    </thead>
    <tr align="center">
        <td>
            7:30 - 8:15
        </td>
        <td colspan="7">
            Registration Starts + Continental Breakfast<br />
        </td>
    </tr>
    <tr align="center">
        <td>
            8:15 - 8:30
        </td>
        <td colspan="7">
            Welcome and Introduction From TCCC Leadership Team in Rapson 100
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            8:30 - 9:30
        </td>
        <td colspan="7">
            TBD
        </td>
    </tr>
    <tr align="center">
        <td>
            9:30 - 9:45
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            9:45 - 10:45
        </td>
        <td colspan="7">
            TBD
        </td>
    </tr>
    <tr align="center">
        <td>
            10:45 - 11:00
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            11:00 - 12:00
        </td>
        <td colspan="7">
            TBD
        </td>
    </tr>
    <tr align="center">
        <td>
            12:00 - 1:00
        </td>
        <td colspan="7">
            Lunch Break<br />
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            1:00 - 2:00
        </td>
        <td colspan="7">
            TBD
        </td>
    </tr>
    <tr align="center">
        <td>
            2:00 - 2:15
        </td>
        <td colspan="7">
            Break
        </td>
    </tr>
    <tr align="center">
        <td align="center">
            2:15 - 3:15
        </td>
        <td colspan="7">
            TBD
        </td>
    </tr>
    <tr align="center">
        <td>
            3:15 - 3:45
        </td>
        <td colspan="7">
            Closing Remarks and Prize Giveaway in Rapson 100
        </td>
    </tr>
</table>